.dv-round-full {
  border-radius: 50%;
}

.dv-round-0 {
  border-radius: var(--size-0);
}

.dv-round-1 {
  border-radius: var(--size-1);
}

.dv-round-2 {
  border-radius: var(--size-2);
}

.dv-round-3 {
  border-radius: var(--size-3);
}

.dv-round-4 {
  border-radius: var(--size-4);
}

.dv-round-5 {
  border-radius: var(--size-5);
}

.dv-round-6 {
  border-radius: var(--size-6);
}

.dv-round-7 {
  border-radius: var(--size-7);
}

.dv-round-8 {
  border-radius: var(--size-8);
}

.dv-round-9 {
  border-radius: var(--size-9);
}

.dv-round-10 {
  border-radius: var(--size-10);
}

.dv-round-11 {
  border-radius: var(--size-11);
}

.dv-round-12 {
  border-radius: var(--size-12);
}

.dv-round-13 {
  border-radius: var(--size-13);
}

.dv-round-14 {
  border-radius: var(--size-14);
}

.dv-round-15 {
  border-radius: var(--size-15);
}

.dv-round-16 {
  border-radius: var(--size-16);
}

.dv-round-17 {
  border-radius: var(--size-17);
}

.dv-round-18 {
  border-radius: var(--size-18);
}

.dv-round-19 {
  border-radius: var(--size-19);
}

.dv-round-20 {
  border-radius: var(--size-20);
}

.dv-round-21 {
  border-radius: var(--size-21);
}

.dv-round-22 {
  border-radius: var(--size-22);
}

.dv-round-23 {
  border-radius: var(--size-23);
}

.dv-round-24 {
  border-radius: var(--size-24);
}

.dv-round-25 {
  border-radius: var(--size-25);
}

.dv-round-26 {
  border-radius: var(--size-26);
}

.dv-round-27 {
  border-radius: var(--size-27);
}

.dv-round-28 {
  border-radius: var(--size-28);
}

.dv-round-29 {
  border-radius: var(--size-29);
}

.dv-round-30 {
  border-radius: var(--size-30);
}

.dv-round-31 {
  border-radius: var(--size-31);
}

.dv-round-32 {
  border-radius: var(--size-32);
}

.dv-round-33 {
  border-radius: var(--size-33);
}

.dv-round-34 {
  border-radius: var(--size-34);
}

.dv-round-35 {
  border-radius: var(--size-35);
}

.dv-round-36 {
  border-radius: var(--size-36);
}

.dv-round-37 {
  border-radius: var(--size-37);
}

.dv-round-38 {
  border-radius: var(--size-38);
}

.dv-round-39 {
  border-radius: var(--size-39);
}

.dv-round-40 {
  border-radius: var(--size-40);
}

.dv-round-41 {
  border-radius: var(--size-41);
}

.dv-round-42 {
  border-radius: var(--size-42);
}

.dv-round-43 {
  border-radius: var(--size-43);
}

.dv-round-44 {
  border-radius: var(--size-44);
}

.dv-round-45 {
  border-radius: var(--size-45);
}

.dv-round-46 {
  border-radius: var(--size-46);
}

.dv-round-47 {
  border-radius: var(--size-47);
}

.dv-round-48 {
  border-radius: var(--size-48);
}

.dv-round-49 {
  border-radius: var(--size-49);
}

.dv-round-50 {
  border-radius: var(--size-50);
}

.dv-round-52 {
  border-radius: var(--size-52);
}

.dv-round-54 {
  border-radius: var(--size-54);
}

.dv-round-56 {
  border-radius: var(--size-56);
}

.dv-round-58 {
  border-radius: var(--size-58);
}

.dv-round-60 {
  border-radius: var(--size-60);
}

.dv-round-62 {
  border-radius: var(--size-62);
}

.dv-round-64 {
  border-radius: var(--size-64);
}

.dv-round-66 {
  border-radius: var(--size-66);
}

.dv-round-68 {
  border-radius: var(--size-68);
}

.dv-round-70 {
  border-radius: var(--size-70);
}

.dv-round-72 {
  border-radius: var(--size-72);
}

.dv-round-74 {
  border-radius: var(--size-74);
}

.dv-round-76 {
  border-radius: var(--size-76);
}

.dv-round-78 {
  border-radius: var(--size-78);
}

.dv-round-80 {
  border-radius: var(--size-80);
}

.dv-round-82 {
  border-radius: var(--size-82);
}

.dv-round-84 {
  border-radius: var(--size-84);
}

.dv-round-86 {
  border-radius: var(--size-86);
}

.dv-round-88 {
  border-radius: var(--size-88);
}

.dv-round-90 {
  border-radius: var(--size-90);
}

.dv-round-92 {
  border-radius: var(--size-92);
}

.dv-round-94 {
  border-radius: var(--size-94);
}

.dv-round-96 {
  border-radius: var(--size-96);
}

.dv-round-98 {
  border-radius: var(--size-98);
}

.dv-round-100 {
  border-radius: var(--size-100);
}

.dv-round-102 {
  border-radius: var(--size-102);
}

.dv-round-104 {
  border-radius: var(--size-104);
}

.dv-round-106 {
  border-radius: var(--size-106);
}

.dv-round-108 {
  border-radius: var(--size-108);
}

.dv-round-110 {
  border-radius: var(--size-110);
}

.dv-round-112 {
  border-radius: var(--size-112);
}

.dv-round-114 {
  border-radius: var(--size-114);
}

.dv-round-116 {
  border-radius: var(--size-116);
}

.dv-round-118 {
  border-radius: var(--size-118);
}

.dv-round-120 {
  border-radius: var(--size-120);
}

.dv-round-122 {
  border-radius: var(--size-122);
}

.dv-round-124 {
  border-radius: var(--size-124);
}

.dv-round-126 {
  border-radius: var(--size-126);
}

.dv-round-128 {
  border-radius: var(--size-128);
}

.dv-round-130 {
  border-radius: var(--size-130);
}

.dv-round-132 {
  border-radius: var(--size-132);
}

.dv-round-134 {
  border-radius: var(--size-134);
}

.dv-round-136 {
  border-radius: var(--size-136);
}

.dv-round-138 {
  border-radius: var(--size-138);
}

.dv-round-140 {
  border-radius: var(--size-140);
}

.dv-round-142 {
  border-radius: var(--size-142);
}

.dv-round-144 {
  border-radius: var(--size-144);
}

.dv-round-146 {
  border-radius: var(--size-146);
}

.dv-round-148 {
  border-radius: var(--size-148);
}

.dv-round-150 {
  border-radius: var(--size-150);
}

.dv-round-160 {
  border-radius: var(--size-160);
}

.dv-round-170 {
  border-radius: var(--size-170);
}

.dv-round-180 {
  border-radius: var(--size-180);
}

.dv-round-190 {
  border-radius: var(--size-190);
}

.dv-round-200 {
  border-radius: var(--size-200);
}

.dv-round-210 {
  border-radius: var(--size-210);
}

.dv-round-220 {
  border-radius: var(--size-220);
}

.dv-round-230 {
  border-radius: var(--size-230);
}

.dv-round-240 {
  border-radius: var(--size-240);
}

.dv-round-250 {
  border-radius: var(--size-250);
}

.dv-round-260 {
  border-radius: var(--size-260);
}

.dv-round-270 {
  border-radius: var(--size-270);
}

.dv-round-280 {
  border-radius: var(--size-280);
}

.dv-round-290 {
  border-radius: var(--size-290);
}

.dv-round-300 {
  border-radius: var(--size-300);
}

.dv-round-310 {
  border-radius: var(--size-310);
}

.dv-round-320 {
  border-radius: var(--size-320);
}

.dv-round-330 {
  border-radius: var(--size-330);
}

.dv-round-340 {
  border-radius: var(--size-340);
}

.dv-round-350 {
  border-radius: var(--size-350);
}

.dv-round-360 {
  border-radius: var(--size-360);
}

.dv-round-370 {
  border-radius: var(--size-370);
}

.dv-round-380 {
  border-radius: var(--size-380);
}

.dv-round-390 {
  border-radius: var(--size-390);
}

.dv-round-400 {
  border-radius: var(--size-400);
}

.dv-round-410 {
  border-radius: var(--size-410);
}

.dv-round-420 {
  border-radius: var(--size-420);
}

.dv-round-430 {
  border-radius: var(--size-430);
}

.dv-round-440 {
  border-radius: var(--size-440);
}

.dv-round-450 {
  border-radius: var(--size-450);
}

.dv-round-460 {
  border-radius: var(--size-460);
}

.dv-round-470 {
  border-radius: var(--size-470);
}

.dv-round-480 {
  border-radius: var(--size-480);
}

.dv-round-490 {
  border-radius: var(--size-490);
}

.dv-round-500 {
  border-radius: var(--size-500);
}

.dv-round-510 {
  border-radius: var(--size-510);
}

.dv-round-520 {
  border-radius: var(--size-520);
}

.dv-round-530 {
  border-radius: var(--size-530);
}

.dv-round-540 {
  border-radius: var(--size-540);
}

.dv-round-550 {
  border-radius: var(--size-550);
}

.dv-round-560 {
  border-radius: var(--size-560);
}

.dv-round-570 {
  border-radius: var(--size-570);
}

.dv-round-580 {
  border-radius: var(--size-580);
}

.dv-round-590 {
  border-radius: var(--size-590);
}

.dv-round-600 {
  border-radius: var(--size-600);
}

.dv-round-610 {
  border-radius: var(--size-610);
}

.dv-round-620 {
  border-radius: var(--size-620);
}

.dv-round-630 {
  border-radius: var(--size-630);
}

.dv-round-640 {
  border-radius: var(--size-640);
}

.dv-round-650 {
  border-radius: var(--size-650);
}

.dv-round-660 {
  border-radius: var(--size-660);
}

.dv-round-670 {
  border-radius: var(--size-670);
}

.dv-round-680 {
  border-radius: var(--size-680);
}

.dv-round-690 {
  border-radius: var(--size-690);
}

.dv-round-700 {
  border-radius: var(--size-700);
}

.dv-round-710 {
  border-radius: var(--size-710);
}

.dv-round-720 {
  border-radius: var(--size-720);
}

.dv-round-730 {
  border-radius: var(--size-730);
}

.dv-round-740 {
  border-radius: var(--size-740);
}

.dv-round-750 {
  border-radius: var(--size-750);
}

.dv-round-760 {
  border-radius: var(--size-760);
}

.dv-round-770 {
  border-radius: var(--size-770);
}

.dv-round-780 {
  border-radius: var(--size-780);
}

.dv-round-790 {
  border-radius: var(--size-790);
}

.dv-round-800 {
  border-radius: var(--size-800);
}

.dv-round-810 {
  border-radius: var(--size-810);
}

.dv-round-820 {
  border-radius: var(--size-820);
}

.dv-round-830 {
  border-radius: var(--size-830);
}

.dv-round-840 {
  border-radius: var(--size-840);
}

.dv-round-850 {
  border-radius: var(--size-850);
}

.dv-round-860 {
  border-radius: var(--size-710);
}

.dv-round-870 {
  border-radius: var(--size-870);
}

.dv-round-880 {
  border-radius: var(--size-880);
}

.dv-round-890 {
  border-radius: var(--size-890);
}

.dv-round-900 {
  border-radius: var(--size-900);
}

.dv-round-910 {
  border-radius: var(--size-910);
}

.dv-round-920 {
  border-radius: var(--size-920);
}

.dv-round-930 {
  border-radius: var(--size-930);
}

.dv-round-940 {
  border-radius: var(--size-940);
}

.dv-round-950 {
  border-radius: var(--size-950);
}

.dv-round-960 {
  border-radius: var(--size-960);
}

.dv-round-970 {
  border-radius: var(--size-970);
}

.dv-round-980 {
  border-radius: var(--size-980);
}

.dv-round-990 {
  border-radius: var(--size-990);
}

.dv-round-1000 {
  border-radius: var(--size-1000);
}
