.round-full {
  border-radius: 50%;
}

.round-0 {
  border-radius: var(--size-0);
}

.round-1 {
  border-radius: var(--size-1);
}

.round-2 {
  border-radius: var(--size-2);
}

.round-3 {
  border-radius: var(--size-3);
}

.round-4 {
  border-radius: var(--size-4);
}

.round-5 {
  border-radius: var(--size-5);
}

.round-6 {
  border-radius: var(--size-6);
}

.round-7 {
  border-radius: var(--size-7);
}

.round-8 {
  border-radius: var(--size-8);
}

.round-9 {
  border-radius: var(--size-9);
}

.round-10 {
  border-radius: var(--size-10);
}

.round-11 {
  border-radius: var(--size-11);
}

.round-12 {
  border-radius: var(--size-12);
}

.round-13 {
  border-radius: var(--size-13);
}

.round-14 {
  border-radius: var(--size-14);
}

.round-15 {
  border-radius: var(--size-15);
}

.round-16 {
  border-radius: var(--size-16);
}

.round-17 {
  border-radius: var(--size-17);
}

.round-18 {
  border-radius: var(--size-18);
}

.round-19 {
  border-radius: var(--size-19);
}

.round-20 {
  border-radius: var(--size-20);
}

.round-21 {
  border-radius: var(--size-21);
}

.round-22 {
  border-radius: var(--size-22);
}

.round-23 {
  border-radius: var(--size-23);
}

.round-24 {
  border-radius: var(--size-24);
}

.round-25 {
  border-radius: var(--size-25);
}

.round-26 {
  border-radius: var(--size-26);
}

.round-27 {
  border-radius: var(--size-27);
}

.round-28 {
  border-radius: var(--size-28);
}

.round-29 {
  border-radius: var(--size-29);
}

.round-30 {
  border-radius: var(--size-30);
}

.round-31 {
  border-radius: var(--size-31);
}

.round-32 {
  border-radius: var(--size-32);
}

.round-33 {
  border-radius: var(--size-33);
}

.round-34 {
  border-radius: var(--size-34);
}

.round-35 {
  border-radius: var(--size-35);
}

.round-36 {
  border-radius: var(--size-36);
}

.round-37 {
  border-radius: var(--size-37);
}

.round-38 {
  border-radius: var(--size-38);
}

.round-39 {
  border-radius: var(--size-39);
}

.round-40 {
  border-radius: var(--size-40);
}

.round-41 {
  border-radius: var(--size-41);
}

.round-42 {
  border-radius: var(--size-42);
}

.round-43 {
  border-radius: var(--size-43);
}

.round-44 {
  border-radius: var(--size-44);
}

.round-45 {
  border-radius: var(--size-45);
}

.round-46 {
  border-radius: var(--size-46);
}

.round-47 {
  border-radius: var(--size-47);
}

.round-48 {
  border-radius: var(--size-48);
}

.round-49 {
  border-radius: var(--size-49);
}

.round-50 {
  border-radius: var(--size-50);
}

.round-52 {
  border-radius: var(--size-52);
}

.round-54 {
  border-radius: var(--size-54);
}

.round-56 {
  border-radius: var(--size-56);
}

.round-58 {
  border-radius: var(--size-58);
}

.round-60 {
  border-radius: var(--size-60);
}

.round-62 {
  border-radius: var(--size-62);
}

.round-64 {
  border-radius: var(--size-64);
}

.round-66 {
  border-radius: var(--size-66);
}

.round-68 {
  border-radius: var(--size-68);
}

.round-70 {
  border-radius: var(--size-70);
}

.round-72 {
  border-radius: var(--size-72);
}

.round-74 {
  border-radius: var(--size-74);
}

.round-76 {
  border-radius: var(--size-76);
}

.round-78 {
  border-radius: var(--size-78);
}

.round-80 {
  border-radius: var(--size-80);
}

.round-82 {
  border-radius: var(--size-82);
}

.round-84 {
  border-radius: var(--size-84);
}

.round-86 {
  border-radius: var(--size-86);
}

.round-88 {
  border-radius: var(--size-88);
}

.round-90 {
  border-radius: var(--size-90);
}

.round-92 {
  border-radius: var(--size-92);
}

.round-94 {
  border-radius: var(--size-94);
}

.round-96 {
  border-radius: var(--size-96);
}

.round-98 {
  border-radius: var(--size-98);
}

.round-100 {
  border-radius: var(--size-100);
}

.round-102 {
  border-radius: var(--size-102);
}

.round-104 {
  border-radius: var(--size-104);
}

.round-106 {
  border-radius: var(--size-106);
}

.round-108 {
  border-radius: var(--size-108);
}

.round-110 {
  border-radius: var(--size-110);
}

.round-112 {
  border-radius: var(--size-112);
}

.round-114 {
  border-radius: var(--size-114);
}

.round-116 {
  border-radius: var(--size-116);
}

.round-118 {
  border-radius: var(--size-118);
}

.round-120 {
  border-radius: var(--size-120);
}

.round-122 {
  border-radius: var(--size-122);
}

.round-124 {
  border-radius: var(--size-124);
}

.round-126 {
  border-radius: var(--size-126);
}

.round-128 {
  border-radius: var(--size-128);
}

.round-130 {
  border-radius: var(--size-130);
}

.round-132 {
  border-radius: var(--size-132);
}

.round-134 {
  border-radius: var(--size-134);
}

.round-136 {
  border-radius: var(--size-136);
}

.round-138 {
  border-radius: var(--size-138);
}

.round-140 {
  border-radius: var(--size-140);
}

.round-142 {
  border-radius: var(--size-142);
}

.round-144 {
  border-radius: var(--size-144);
}

.round-146 {
  border-radius: var(--size-146);
}

.round-148 {
  border-radius: var(--size-148);
}

.round-150 {
  border-radius: var(--size-150);
}

.round-160 {
  border-radius: var(--size-160);
}

.round-170 {
  border-radius: var(--size-170);
}

.round-180 {
  border-radius: var(--size-180);
}

.round-190 {
  border-radius: var(--size-190);
}

.round-200 {
  border-radius: var(--size-200);
}

.round-210 {
  border-radius: var(--size-210);
}

.round-220 {
  border-radius: var(--size-220);
}

.round-230 {
  border-radius: var(--size-230);
}

.round-240 {
  border-radius: var(--size-240);
}

.round-250 {
  border-radius: var(--size-250);
}

.round-260 {
  border-radius: var(--size-260);
}

.round-270 {
  border-radius: var(--size-270);
}

.round-280 {
  border-radius: var(--size-280);
}

.round-290 {
  border-radius: var(--size-290);
}

.round-300 {
  border-radius: var(--size-300);
}

.round-310 {
  border-radius: var(--size-310);
}

.round-320 {
  border-radius: var(--size-320);
}

.round-330 {
  border-radius: var(--size-330);
}

.round-340 {
  border-radius: var(--size-340);
}

.round-350 {
  border-radius: var(--size-350);
}

.round-360 {
  border-radius: var(--size-360);
}

.round-370 {
  border-radius: var(--size-370);
}

.round-380 {
  border-radius: var(--size-380);
}

.round-390 {
  border-radius: var(--size-390);
}

.round-400 {
  border-radius: var(--size-400);
}

.round-410 {
  border-radius: var(--size-410);
}

.round-420 {
  border-radius: var(--size-420);
}

.round-430 {
  border-radius: var(--size-430);
}

.round-440 {
  border-radius: var(--size-440);
}

.round-450 {
  border-radius: var(--size-450);
}

.round-460 {
  border-radius: var(--size-460);
}

.round-470 {
  border-radius: var(--size-470);
}

.round-480 {
  border-radius: var(--size-480);
}

.round-490 {
  border-radius: var(--size-490);
}

.round-500 {
  border-radius: var(--size-500);
}

.round-510 {
  border-radius: var(--size-510);
}

.round-520 {
  border-radius: var(--size-520);
}

.round-530 {
  border-radius: var(--size-530);
}

.round-540 {
  border-radius: var(--size-540);
}

.round-550 {
  border-radius: var(--size-550);
}

.round-560 {
  border-radius: var(--size-560);
}

.round-570 {
  border-radius: var(--size-570);
}

.round-580 {
  border-radius: var(--size-580);
}

.round-590 {
  border-radius: var(--size-590);
}

.round-600 {
  border-radius: var(--size-600);
}

.round-610 {
  border-radius: var(--size-610);
}

.round-620 {
  border-radius: var(--size-620);
}

.round-630 {
  border-radius: var(--size-630);
}

.round-640 {
  border-radius: var(--size-640);
}

.round-650 {
  border-radius: var(--size-650);
}

.round-660 {
  border-radius: var(--size-660);
}

.round-670 {
  border-radius: var(--size-670);
}

.round-680 {
  border-radius: var(--size-680);
}

.round-690 {
  border-radius: var(--size-690);
}

.round-700 {
  border-radius: var(--size-700);
}

.round-710 {
  border-radius: var(--size-710);
}

.round-720 {
  border-radius: var(--size-720);
}

.round-730 {
  border-radius: var(--size-730);
}

.round-740 {
  border-radius: var(--size-740);
}

.round-750 {
  border-radius: var(--size-750);
}

.round-760 {
  border-radius: var(--size-760);
}

.round-770 {
  border-radius: var(--size-770);
}

.round-780 {
  border-radius: var(--size-780);
}

.round-790 {
  border-radius: var(--size-790);
}

.round-800 {
  border-radius: var(--size-800);
}

.round-810 {
  border-radius: var(--size-810);
}

.round-820 {
  border-radius: var(--size-820);
}

.round-830 {
  border-radius: var(--size-830);
}

.round-840 {
  border-radius: var(--size-840);
}

.round-850 {
  border-radius: var(--size-850);
}

.round-860 {
  border-radius: var(--size-710);
}

.round-870 {
  border-radius: var(--size-870);
}

.round-880 {
  border-radius: var(--size-880);
}

.round-890 {
  border-radius: var(--size-890);
}

.round-900 {
  border-radius: var(--size-900);
}

.round-910 {
  border-radius: var(--size-910);
}

.round-920 {
  border-radius: var(--size-920);
}

.round-930 {
  border-radius: var(--size-930);
}

.round-940 {
  border-radius: var(--size-940);
}

.round-950 {
  border-radius: var(--size-950);
}

.round-960 {
  border-radius: var(--size-960);
}

.round-970 {
  border-radius: var(--size-970);
}

.round-980 {
  border-radius: var(--size-980);
}

.round-990 {
  border-radius: var(--size-990);
}

.round-1000 {
  border-radius: var(--size-1000);
}
