/* Base */

.white {
  background-color: var(--white);
}

.black {
  background-color: var(--black);
}

/* Gray */
.gray-25 {
  background-color: var(--gray-25);
}

.gray-50 {
  background-color: var(--gray-50);
}

.gray-100 {
  background-color: var(--gray-100);
}

.gray-200 {
  background-color: var(--gray-200);
}

.gray-300 {
  background-color: var(--gray-300);
}

.gray-400 {
  background-color: var(--gray-400);
}

.gray-500 {
  background-color: var(--gray-500);
}

.gray-600 {
  background-color: var(--gray-600);
}

.gray-700 {
  background-color: var(--gray-700);
}

.gray-800 {
  background-color: var(--gray-800);
}

.gray-900 {
  background-color: var(--gray-900);
}

/* Primary */

.primary-25 {
  background-color: var(--primary-25);
}

.primary-50 {
  background-color: var(--primary-50);
}

.primary-100 {
  background-color: var(--primary-100);
}

.primary-200 {
  background-color: var(--primary-200);
}

.primary-300 {
  background-color: var(--primary-300);
}

.primary-400 {
  background-color: var(--primary-400);
}

.primary-500 {
  background-color: var(--primary-500);
}

.primary-600 {
  background-color: var(--primary-600);
}

.primary-700 {
  background-color: var(--primary-700);
}

.primary-800 {
  background-color: var(--primary-800);
}

.primary-900 {
  background-color: var(--primary-900);
}

/* Error */
.error-25 {
  background-color: var(--error-25);
}

.error-50 {
  background-color: var(--error-50);
}

.error-100 {
  background-color: var(--error-100);
}

.error-200 {
  background-color: var(--error-200);
}

.error-300 {
  background-color: var(--error-300);
}

.error-400 {
  background-color: var(--error-400);
}

.error-500 {
  background-color: var(--error-500);
}

.error-600 {
  background-color: var(--error-600);
}

.error-700 {
  background-color: var(--error-700);
}

.error-800 {
  background-color: var(--error-800);
}

.error-900 {
  background-color: var(--error-900);
}

/* Warring */
.warning-25 {
  background-color: var(--warning-25);
}

.warning-50 {
  background-color: var(--warning-50);
}

.warning-100 {
  background-color: var(--warning-100);
}

.warning-200 {
  background-color: var(--warning-200);
}

.warning-300 {
  background-color: var(--warning-300);
}

.warning-400 {
  background-color: var(--warning-400);
}

.warning-500 {
  background-color: var(--warning-500);
}

.warning-600 {
  background-color: var(--warning-600);
}

.warning-700 {
  background-color: var(--warning-700);
}

.warning-800 {
  background-color: var(--warning-800);
}

.warning-900 {
  background-color: var(--warning-900);
}

/* Success */
.success-25 {
  background-color: var(--success-25);
}

.success-50 {
  background-color: var(--success-50);
}

.success-100 {
  background-color: var(--success-100);
}

.success-200 {
  background-color: var(--success-200);
}

.success-300 {
  background-color: var(--success-300);
}

.success-400 {
  background-color: var(--success-400);
}

.success-500 {
  background-color: var(--success-500);
}

.success-600 {
  background-color: var(--success-600);
}

.success-700 {
  background-color: var(--success-700);
}

.success-800 {
  background-color: var(--success-800);
}

.success-900 {
  background-color: var(--success-900);
}

/* Moderm Green */

.modern-green-25 {
  background-color: var(--modern-green-25);
}

.modern-green-50 {
  background-color: var(--modern-green-50);
}

.modern-green-100 {
  background-color: var(--modern-green-100);
}

.modern-green-200 {
  background-color: var(--modern-green-200);
}

.modern-green-300 {
  background-color: var(--modern-green-300);
}

.modern-green-400 {
  background-color: var(--modern-green-400);
}

.modern-green-500 {
  background-color: var(--modern-green-500);
}

.modern-green-600 {
  background-color: var(--modern-green-600);
}

.modern-green-700 {
  background-color: var(--modern-green-700);
}

.modern-green-800 {
  background-color: var(--modern-green-800);
}

.modern-green-900 {
  background-color: var(--modern-green-900);
}

/* Surgeon Green */
.surgeon-green-25 {
  background-color: var(--surgeon-green-25);
}

.surgeon-green-50 {
  background-color: var(--surgeon-green-50);
}

.surgeon-green-100 {
  background-color: var(--surgeon-green-100);
}

.surgeon-green-200 {
  background-color: var(--surgeon-green-200);
}

.surgeon-green-300 {
  background-color: var(--surgeon-green-300);
}

.surgeon-green-400 {
  background-color: var(--surgeon-green-400);
}

.surgeon-green-500 {
  background-color: var(--surgeon-green-500);
}

.surgeon-green-600 {
  background-color: var(--surgeon-green-600);
}

.surgeon-green-700 {
  background-color: var(--surgeon-green-700);
}

.surgeon-green-800 {
  background-color: var(--surgeon-green-800);
}

.surgeon-green-900 {
  background-color: var(--surgeon-green-900);
}

/* Wellness Green */
.wellness-green-25 {
  background-color: var(--wellness-green-25);
}

.wellness-green-50 {
  background-color: var(--wellness-green-50);
}

.wellness-green-100 {
  background-color: var(--wellness-green-100);
}

.wellness-green-200 {
  background-color: var(--wellness-green-200);
}

.wellness-green-300 {
  background-color: var(--wellness-green-300);
}

.wellness-green-400 {
  background-color: var(--wellness-green-400);
}

.wellness-green-500 {
  background-color: var(--wellness-green-500);
}

.wellness-green-600 {
  background-color: var(--wellness-green-600);
}

.wellness-green-700 {
  background-color: var(--wellness-green-700);
}

.wellness-green-800 {
  background-color: var(--wellness-green-800);
}

.wellness-green-900 {
  background-color: var(--wellness-green-900);
}

/* Safe blue */

.safe-blue-25 {
  background-color: var(--safe-blue-25);
}

.safe-blue-50 {
  background-color: var(--safe-blue-50);
}

.safe-blue-100 {
  background-color: var(--safe-blue-100);
}

.safe-blue-200 {
  background-color: var(--safe-blue-200);
}

.safe-blue-300 {
  background-color: var(--safe-blue-300);
}

.safe-blue-400 {
  background-color: var(--safe-blue-400);
}

.safe-blue-500 {
  background-color: var(--safe-blue-500);
}

.safe-blue-600 {
  background-color: var(--safe-blue-600);
}

.safe-blue-700 {
  background-color: var(--safe-blue-700);
}

.safe-blue-800 {
  background-color: var(--safe-blue-800);
}

.safe-blue-900 {
  background-color: var(--safe-blue-900);
}

/* Blueprint */

.blueprint-25 {
  background-color: var(--blueprint-25);
}

.blueprint-50 {
  background-color: var(--blueprint-50);
}

.blueprint-100 {
  background-color: var(--blueprint-100);
}

.blueprint-200 {
  background-color: var(--blueprint-200);
}

.blueprint-300 {
  background-color: var(--blueprint-300);
}

.blueprint-400 {
  background-color: var(--blueprint-400);
}

.blueprint-500 {
  background-color: var(--blueprint-500);
}

.blueprint-600 {
  background-color: var(--blueprint-600);
}

.blueprint-700 {
  background-color: var(--blueprint-700);
}

.blueprint-800 {
  background-color: var(--blueprint-800);
}

.blueprint-900 {
  background-color: var(--blueprint-900);
}

/* Violet Alert */

.violet-alert-25 {
  background-color: var(--violet-alert-25);
}

.violet-alert-50 {
  background-color: var(--violet-alert-50);
}

.violet-alert-100 {
  background-color: var(--violet-alert-100);
}

.violet-alert-200 {
  background-color: var(--violet-alert-200);
}

.violet-alert-300 {
  background-color: var(--violet-alert-300);
}

.violet-alert-400 {
  background-color: var(--violet-alert-400);
}

.violet-alert-500 {
  background-color: var(--violet-alert-500);
}

.violet-alert-600 {
  background-color: var(--violet-alert-600);
}

.violet-alert-700 {
  background-color: var(--violet-alert-700);
}

.violet-alert-800 {
  background-color: var(--violet-alert-800);
}

.violet-alert-900 {
  background-color: var(--violet-alert-900);
}

/* Purple */

.purple-25 {
  background-color: var(--purple-25);
}

.purple-50 {
  background-color: var(--purple-50);
}

.purple-100 {
  background-color: var(--purple-100);
}

.purple-200 {
  background-color: var(--purple-200);
}

.purple-300 {
  background-color: var(--purple-300);
}

.purple-400 {
  background-color: var(--purple-400);
}

.purple-500 {
  background-color: var(--purple-500);
}

.purple-600 {
  background-color: var(--purple-600);
}

.purple-700 {
  background-color: var(--purple-700);
}

.purple-800 {
  background-color: var(--purple-800);
}

.purple-900 {
  background-color: var(--purple-900);
}

/* Pinky */

.pinky-25 {
  background-color: var(--pinky-25);
}

.pinky-50 {
  background-color: var(--pinky-50);
}

.pinky-100 {
  background-color: var(--pinky-100);
}

.pinky-200 {
  background-color: var(--pinky-200);
}

.pinky-300 {
  background-color: var(--pinky-300);
}

.pinky-400 {
  background-color: var(--pinky-400);
}

.pinky-500 {
  background-color: var(--pinky-500);
}

.pinky-600 {
  background-color: var(--pinky-600);
}

.pinky-700 {
  background-color: var(--pinky-700);
}

.pinky-800 {
  background-color: var(--pinky-800);
}

.pinky-900 {
  background-color: var(--pinky-900);
}

/* Red Flag */

.red-flag-25 {
  background-color: var(--red-flag-25);
}

.red-flag-50 {
  background-color: var(--red-flag-50);
}

.red-flag-100 {
  background-color: var(--red-flag-100);
}

.red-flag-200 {
  background-color: var(--red-flag-200);
}

.red-flag-300 {
  background-color: var(--red-flag-300);
}

.red-flag-400 {
  background-color: var(--red-flag-400);
}

.red-flag-500 {
  background-color: var(--red-flag-500);
}

.red-flag-600 {
  background-color: var(--red-flag-600);
}

.red-flag-700 {
  background-color: var(--red-flag-700);
}

.red-flag-800 {
  background-color: var(--red-flag-800);
}

.red-flag-900 {
  background-color: var(--red-flag-900);
}

/* Alarm Orange */

.alarm-orange-25 {
  background-color: var(--alarm-orange-25);
}

.alarm-orange-50 {
  background-color: var(--alarm-orange-50);
}

.alarm-orange-100 {
  background-color: var(--alarm-orange-100);
}

.alarm-orange-200 {
  background-color: var(--alarm-orange-200);
}

.alarm-orange-300 {
  background-color: var(--alarm-orange-300);
}

.alarm-orange-400 {
  background-color: var(--alarm-orange-400);
}

.alarm-orange-500 {
  background-color: var(--alarm-orange-500);
}

.alarm-orange-600 {
  background-color: var(--alarm-orange-600);
}

.alarm-orange-700 {
  background-color: var(--alarm-orange-700);
}

.alarm-orange-800 {
  background-color: var(--alarm-orange-800);
}

.alarm-orange-900 {
  background-color: var(--alarm-orange-900);
}

/* Warning Yellow */

.warning-yellow-25 {
  background-color: var(--warning-yellow-25);
}

.warning-yellow-50 {
  background-color: var(--warning-yellow-50);
}

.warning-yellow-100 {
  background-color: var(--warning-yellow-100);
}

.warning-yellow-200 {
  background-color: var(--warning-yellow-200);
}

.warning-yellow-300 {
  background-color: var(--warning-yellow-300);
}

.warning-yellow-400 {
  background-color: var(--warning-yellow-400);
}

.warning-yellow-500 {
  background-color: var(--warning-yellow-500);
}

.warning-yellow-600 {
  background-color: var(--warning-yellow-600);
}

.warning-yellow-700 {
  background-color: var(--warning-yellow-700);
}

.warning-yellow-800 {
  background-color: var(--warning-yellow-800);
}

.warning-yellow-900 {
  background-color: var(--warning-yellow-900);
}
