.dv-left-0 {
  left: var(--size-0);
}

.dv-left-1 {
  left: var(--size-1);
}

.dv-left-2 {
  left: var(--size-2);
}

.dv-left-3 {
  left: var(--size-3);
}

.dv-left-4 {
  left: var(--size-4);
}

.dv-left-5 {
  left: var(--size-5);
}

.dv-left-6 {
  left: var(--size-6);
}

.dv-left-7 {
  left: var(--size-7);
}

.dv-left-8 {
  left: var(--size-8);
}

.dv-left-9 {
  left: var(--size-9);
}

.dv-left-10 {
  left: var(--size-10);
}

.dv-left-11 {
  left: var(--size-11);
}

.dv-left-12 {
  left: var(--size-12);
}

.dv-left-13 {
  left: var(--size-13);
}

.dv-left-14 {
  left: var(--size-14);
}

.dv-left-15 {
  left: var(--size-15);
}

.dv-left-16 {
  left: var(--size-16);
}

.dv-left-17 {
  left: var(--size-17);
}

.dv-left-18 {
  left: var(--size-18);
}

.dv-left-19 {
  left: var(--size-19);
}

.dv-left-20 {
  left: var(--size-20);
}

.dv-left-21 {
  left: var(--size-21);
}

.dv-left-22 {
  left: var(--size-22);
}

.dv-left-23 {
  left: var(--size-23);
}

.dv-left-24 {
  left: var(--size-24);
}

.dv-left-25 {
  left: var(--size-25);
}

.dv-left-26 {
  left: var(--size-26);
}

.dv-left-27 {
  left: var(--size-27);
}

.dv-left-28 {
  left: var(--size-28);
}

.dv-left-29 {
  left: var(--size-29);
}

.dv-left-30 {
  left: var(--size-30);
}

.dv-left-31 {
  left: var(--size-31);
}

.dv-left-32 {
  left: var(--size-32);
}

.dv-left-33 {
  left: var(--size-33);
}

.dv-left-34 {
  left: var(--size-34);
}

.dv-left-35 {
  left: var(--size-35);
}

.dv-left-36 {
  left: var(--size-36);
}

.dv-left-37 {
  left: var(--size-37);
}

.dv-left-38 {
  left: var(--size-38);
}

.dv-left-39 {
  left: var(--size-39);
}

.dv-left-40 {
  left: var(--size-40);
}

.dv-left-41 {
  left: var(--size-41);
}

.dv-left-42 {
  left: var(--size-42);
}

.dv-left-43 {
  left: var(--size-43);
}

.dv-left-44 {
  left: var(--size-44);
}

.dv-left-45 {
  left: var(--size-45);
}

.dv-left-46 {
  left: var(--size-46);
}

.dv-left-47 {
  left: var(--size-47);
}

.dv-left-48 {
  left: var(--size-48);
}

.dv-left-49 {
  left: var(--size-49);
}

.dv-left-50 {
  left: var(--size-50);
}

.dv-left-52 {
  left: var(--size-52);
}

.dv-left-54 {
  left: var(--size-54);
}

.dv-left-56 {
  left: var(--size-56);
}

.dv-left-58 {
  left: var(--size-58);
}

.dv-left-60 {
  left: var(--size-60);
}

.dv-left-62 {
  left: var(--size-62);
}

.dv-left-64 {
  left: var(--size-64);
}

.dv-left-66 {
  left: var(--size-66);
}

.dv-left-68 {
  left: var(--size-68);
}

.dv-left-70 {
  left: var(--size-70);
}

.dv-left-72 {
  left: var(--size-72);
}

.dv-left-74 {
  left: var(--size-74);
}

.dv-left-76 {
  left: var(--size-76);
}

.dv-left-78 {
  left: var(--size-78);
}

.dv-left-80 {
  left: var(--size-80);
}

.dv-left-82 {
  left: var(--size-82);
}

.dv-left-84 {
  left: var(--size-84);
}

.dv-left-86 {
  left: var(--size-86);
}

.dv-left-88 {
  left: var(--size-88);
}

.dv-left-90 {
  left: var(--size-90);
}

.dv-left-92 {
  left: var(--size-92);
}

.dv-left-94 {
  left: var(--size-94);
}

.dv-left-96 {
  left: var(--size-96);
}

.dv-left-98 {
  left: var(--size-98);
}

.dv-left-100 {
  left: var(--size-100);
}

.dv-left-102 {
  left: var(--size-102);
}

.dv-left-104 {
  left: var(--size-104);
}

.dv-left-106 {
  left: var(--size-106);
}

.dv-left-108 {
  left: var(--size-108);
}

.dv-left-110 {
  left: var(--size-110);
}

.dv-left-112 {
  left: var(--size-112);
}

.dv-left-114 {
  left: var(--size-114);
}

.dv-left-116 {
  left: var(--size-116);
}

.dv-left-118 {
  left: var(--size-118);
}

.dv-left-120 {
  left: var(--size-120);
}

.dv-left-122 {
  left: var(--size-122);
}

.dv-left-124 {
  left: var(--size-124);
}

.dv-left-126 {
  left: var(--size-126);
}

.dv-left-128 {
  left: var(--size-128);
}

.dv-left-130 {
  left: var(--size-130);
}

.dv-left-132 {
  left: var(--size-132);
}

.dv-left-134 {
  left: var(--size-134);
}

.dv-left-136 {
  left: var(--size-136);
}

.dv-left-138 {
  left: var(--size-138);
}

.dv-left-140 {
  left: var(--size-140);
}

.dv-left-142 {
  left: var(--size-142);
}

.dv-left-144 {
  left: var(--size-144);
}

.dv-left-146 {
  left: var(--size-146);
}

.dv-left-148 {
  left: var(--size-148);
}

.dv-left-150 {
  left: var(--size-150);
}

.dv-left-160 {
  left: var(--size-160);
}

.dv-left-170 {
  left: var(--size-170);
}

.dv-left-180 {
  left: var(--size-180);
}

.dv-left-190 {
  left: var(--size-190);
}

.dv-left-200 {
  left: var(--size-200);
}

.dv-left-210 {
  left: var(--size-210);
}

.dv-left-220 {
  left: var(--size-220);
}

.dv-left-230 {
  left: var(--size-230);
}

.dv-left-240 {
  left: var(--size-240);
}

.dv-left-250 {
  left: var(--size-250);
}

.dv-left-260 {
  left: var(--size-260);
}

.dv-left-270 {
  left: var(--size-270);
}

.dv-left-280 {
  left: var(--size-280);
}

.dv-left-290 {
  left: var(--size-290);
}

.dv-left-300 {
  left: var(--size-300);
}

.dv-left-310 {
  left: var(--size-310);
}

.dv-left-320 {
  left: var(--size-320);
}

.dv-left-330 {
  left: var(--size-330);
}

.dv-left-340 {
  left: var(--size-340);
}

.dv-left-350 {
  left: var(--size-350);
}

.dv-left-360 {
  left: var(--size-360);
}

.dv-left-370 {
  left: var(--size-370);
}

.dv-left-380 {
  left: var(--size-380);
}

.dv-left-390 {
  left: var(--size-390);
}

.dv-left-400 {
  left: var(--size-400);
}

.dv-left-410 {
  left: var(--size-410);
}

.dv-left-420 {
  left: var(--size-420);
}

.dv-left-430 {
  left: var(--size-430);
}

.dv-left-440 {
  left: var(--size-440);
}

.dv-left-450 {
  left: var(--size-450);
}

.dv-left-460 {
  left: var(--size-460);
}

.dv-left-470 {
  left: var(--size-470);
}

.dv-left-480 {
  left: var(--size-480);
}

.dv-left-490 {
  left: var(--size-490);
}

.dv-left-500 {
  left: var(--size-500);
}

.dv-left-510 {
  left: var(--size-510);
}

.dv-left-520 {
  left: var(--size-520);
}

.dv-left-530 {
  left: var(--size-530);
}

.dv-left-540 {
  left: var(--size-540);
}

.dv-left-550 {
  left: var(--size-550);
}

.dv-left-560 {
  left: var(--size-560);
}

.dv-left-570 {
  left: var(--size-570);
}

.dv-left-580 {
  left: var(--size-580);
}

.dv-left-590 {
  left: var(--size-590);
}

.dv-left-600 {
  left: var(--size-600);
}

.dv-left-610 {
  left: var(--size-610);
}

.dv-left-620 {
  left: var(--size-620);
}

.dv-left-630 {
  left: var(--size-630);
}

.dv-left-640 {
  left: var(--size-640);
}

.dv-left-650 {
  left: var(--size-650);
}

.dv-left-660 {
  left: var(--size-660);
}

.dv-left-670 {
  left: var(--size-670);
}

.dv-left-680 {
  left: var(--size-680);
}

.dv-left-690 {
  left: var(--size-690);
}

.dv-left-700 {
  left: var(--size-700);
}

.dv-left-710 {
  left: var(--size-710);
}

.dv-left-720 {
  left: var(--size-720);
}

.dv-left-730 {
  left: var(--size-730);
}

.dv-left-740 {
  left: var(--size-740);
}

.dv-left-750 {
  left: var(--size-750);
}

.dv-left-760 {
  left: var(--size-760);
}

.dv-left-770 {
  left: var(--size-770);
}

.dv-left-780 {
  left: var(--size-780);
}

.dv-left-790 {
  left: var(--size-790);
}

.dv-left-800 {
  left: var(--size-800);
}

.dv-left-810 {
  left: var(--size-810);
}

.dv-left-820 {
  left: var(--size-820);
}

.dv-left-830 {
  left: var(--size-830);
}

.dv-left-840 {
  left: var(--size-840);
}

.dv-left-850 {
  left: var(--size-850);
}

.dv-left-860 {
  left: var(--size-710);
}

.dv-left-870 {
  left: var(--size-870);
}

.dv-left-880 {
  left: var(--size-880);
}

.dv-left-890 {
  left: var(--size-890);
}

.dv-left-900 {
  left: var(--size-900);
}

.dv-left-910 {
  left: var(--size-910);
}

.dv-left-920 {
  left: var(--size-920);
}

.dv-left-930 {
  left: var(--size-930);
}

.dv-left-940 {
  left: var(--size-940);
}

.dv-left-950 {
  left: var(--size-950);
}

.dv-left-960 {
  left: var(--size-960);
}

.dv-left-970 {
  left: var(--size-970);
}

.dv-left-980 {
  left: var(--size-980);
}

.dv-left-990 {
  left: var(--size-990);
}

.dv-left-1000 {
  left: var(--size-1000);
}
