.p-0 {
  padding: var(--size-0);
}

.p-1 {
  padding: var(--size-1);
}

.p-2 {
  padding: var(--size-2);
}

.p-3 {
  padding: var(--size-3);
}

.p-4 {
  padding: var(--size-4);
}

.p-5 {
  padding: var(--size-5);
}

.p-6 {
  padding: var(--size-6);
}

.p-7 {
  padding: var(--size-7);
}

.p-8 {
  padding: var(--size-8);
}

.p-9 {
  padding: var(--size-9);
}

.p-10 {
  padding: var(--size-10);
}

.p-11 {
  padding: var(--size-11);
}

.p-12 {
  padding: var(--size-12);
}

.p-13 {
  padding: var(--size-13);
}

.p-14 {
  padding: var(--size-14);
}

.p-15 {
  padding: var(--size-15);
}

.p-16 {
  padding: var(--size-16);
}

.p-17 {
  padding: var(--size-17);
}

.p-18 {
  padding: var(--size-18);
}

.p-19 {
  padding: var(--size-19);
}

.p-20 {
  padding: var(--size-20);
}

.p-21 {
  padding: var(--size-21);
}

.p-22 {
  padding: var(--size-22);
}

.p-23 {
  padding: var(--size-23);
}

.p-24 {
  padding: var(--size-24);
}

.p-25 {
  padding: var(--size-25);
}

.p-26 {
  padding: var(--size-26);
}

.p-27 {
  padding: var(--size-27);
}

.p-28 {
  padding: var(--size-28);
}

.p-29 {
  padding: var(--size-29);
}

.p-30 {
  padding: var(--size-30);
}

.p-31 {
  padding: var(--size-31);
}

.p-32 {
  padding: var(--size-32);
}

.p-33 {
  padding: var(--size-33);
}

.p-34 {
  padding: var(--size-34);
}

.p-35 {
  padding: var(--size-35);
}

.p-36 {
  padding: var(--size-36);
}

.p-37 {
  padding: var(--size-37);
}

.p-38 {
  padding: var(--size-38);
}

.p-39 {
  padding: var(--size-39);
}

.p-40 {
  padding: var(--size-40);
}

.p-41 {
  padding: var(--size-41);
}

.p-42 {
  padding: var(--size-42);
}

.p-43 {
  padding: var(--size-43);
}

.p-44 {
  padding: var(--size-44);
}

.p-45 {
  padding: var(--size-45);
}

.p-46 {
  padding: var(--size-46);
}

.p-47 {
  padding: var(--size-47);
}

.p-48 {
  padding: var(--size-48);
}

.p-49 {
  padding: var(--size-49);
}

.p-50 {
  padding: var(--size-50);
}

.p-52 {
  padding: var(--size-52);
}

.p-54 {
  padding: var(--size-54);
}

.p-56 {
  padding: var(--size-56);
}

.p-58 {
  padding: var(--size-58);
}

.p-60 {
  padding: var(--size-60);
}

.p-62 {
  padding: var(--size-62);
}

.p-64 {
  padding: var(--size-64);
}

.p-66 {
  padding: var(--size-66);
}

.p-68 {
  padding: var(--size-68);
}

.p-70 {
  padding: var(--size-70);
}

.p-72 {
  padding: var(--size-72);
}

.p-74 {
  padding: var(--size-74);
}

.p-76 {
  padding: var(--size-76);
}

.p-78 {
  padding: var(--size-78);
}

.p-80 {
  padding: var(--size-80);
}

.p-82 {
  padding: var(--size-82);
}

.p-84 {
  padding: var(--size-84);
}

.p-86 {
  padding: var(--size-86);
}

.p-88 {
  padding: var(--size-88);
}

.p-90 {
  padding: var(--size-90);
}

.p-92 {
  padding: var(--size-92);
}

.p-94 {
  padding: var(--size-94);
}

.p-96 {
  padding: var(--size-96);
}

.p-98 {
  padding: var(--size-98);
}

.p-100 {
  padding: var(--size-100);
}

.p-102 {
  padding: var(--size-102);
}

.p-104 {
  padding: var(--size-104);
}

.p-106 {
  padding: var(--size-106);
}

.p-108 {
  padding: var(--size-108);
}

.p-110 {
  padding: var(--size-110);
}

.p-112 {
  padding: var(--size-112);
}

.p-114 {
  padding: var(--size-114);
}

.p-116 {
  padding: var(--size-116);
}

.p-118 {
  padding: var(--size-118);
}

.p-120 {
  padding: var(--size-120);
}

.p-122 {
  padding: var(--size-122);
}

.p-124 {
  padding: var(--size-124);
}

.p-126 {
  padding: var(--size-126);
}

.p-128 {
  padding: var(--size-128);
}

.p-130 {
  padding: var(--size-130);
}

.p-132 {
  padding: var(--size-132);
}

.p-134 {
  padding: var(--size-134);
}

.p-136 {
  padding: var(--size-136);
}

.p-138 {
  padding: var(--size-138);
}

.p-140 {
  padding: var(--size-140);
}

.p-142 {
  padding: var(--size-142);
}

.p-144 {
  padding: var(--size-144);
}

.p-146 {
  padding: var(--size-146);
}

.p-148 {
  padding: var(--size-148);
}

.p-150 {
  padding: var(--size-150);
}

.p-160 {
  padding: var(--size-160);
}

.p-170 {
  padding: var(--size-170);
}

.p-180 {
  padding: var(--size-180);
}

.p-190 {
  padding: var(--size-190);
}

.p-200 {
  padding: var(--size-200);
}

.p-210 {
  padding: var(--size-210);
}

.p-220 {
  padding: var(--size-220);
}

.p-230 {
  padding: var(--size-230);
}

.p-240 {
  padding: var(--size-240);
}

.p-250 {
  padding: var(--size-250);
}

.p-260 {
  padding: var(--size-260);
}

.p-270 {
  padding: var(--size-270);
}

.p-280 {
  padding: var(--size-280);
}

.p-290 {
  padding: var(--size-290);
}

.p-300 {
  padding: var(--size-300);
}

.p-310 {
  padding: var(--size-310);
}

.p-320 {
  padding: var(--size-320);
}

.p-330 {
  padding: var(--size-330);
}

.p-340 {
  padding: var(--size-340);
}

.p-350 {
  padding: var(--size-350);
}

.p-360 {
  padding: var(--size-360);
}

.p-370 {
  padding: var(--size-370);
}

.p-380 {
  padding: var(--size-380);
}

.p-390 {
  padding: var(--size-390);
}

.p-400 {
  padding: var(--size-400);
}

.p-410 {
  padding: var(--size-410);
}

.p-420 {
  padding: var(--size-420);
}

.p-430 {
  padding: var(--size-430);
}

.p-440 {
  padding: var(--size-440);
}

.p-450 {
  padding: var(--size-450);
}

.p-460 {
  padding: var(--size-460);
}

.p-470 {
  padding: var(--size-470);
}

.p-480 {
  padding: var(--size-480);
}

.p-490 {
  padding: var(--size-490);
}

.p-500 {
  padding: var(--size-500);
}

.p-510 {
  padding: var(--size-510);
}

.p-520 {
  padding: var(--size-520);
}

.p-530 {
  padding: var(--size-530);
}

.p-540 {
  padding: var(--size-540);
}

.p-550 {
  padding: var(--size-550);
}

.p-560 {
  padding: var(--size-560);
}

.p-570 {
  padding: var(--size-570);
}

.p-580 {
  padding: var(--size-580);
}

.p-590 {
  padding: var(--size-590);
}

.p-600 {
  padding: var(--size-600);
}

.p-610 {
  padding: var(--size-610);
}

.p-620 {
  padding: var(--size-620);
}

.p-630 {
  padding: var(--size-630);
}

.p-640 {
  padding: var(--size-640);
}

.p-650 {
  padding: var(--size-650);
}

.p-660 {
  padding: var(--size-660);
}

.p-670 {
  padding: var(--size-670);
}

.p-680 {
  padding: var(--size-680);
}

.p-690 {
  padding: var(--size-690);
}

.p-700 {
  padding: var(--size-700);
}

.p-710 {
  padding: var(--size-710);
}

.p-720 {
  padding: var(--size-720);
}

.p-730 {
  padding: var(--size-730);
}

.p-740 {
  padding: var(--size-740);
}

.p-750 {
  padding: var(--size-750);
}

.p-760 {
  padding: var(--size-760);
}

.p-770 {
  padding: var(--size-770);
}

.p-780 {
  padding: var(--size-780);
}

.p-790 {
  padding: var(--size-790);
}

.p-800 {
  padding: var(--size-800);
}

.p-810 {
  padding: var(--size-810);
}

.p-820 {
  padding: var(--size-820);
}

.p-830 {
  padding: var(--size-830);
}

.p-840 {
  padding: var(--size-840);
}

.p-850 {
  padding: var(--size-850);
}

.p-860 {
  padding: var(--size-710);
}

.p-870 {
  padding: var(--size-870);
}

.p-880 {
  padding: var(--size-880);
}

.p-890 {
  padding: var(--size-890);
}

.p-900 {
  padding: var(--size-900);
}

.p-910 {
  padding: var(--size-910);
}

.p-920 {
  padding: var(--size-920);
}

.p-930 {
  padding: var(--size-930);
}

.p-940 {
  padding: var(--size-940);
}

.p-950 {
  padding: var(--size-950);
}

.p-960 {
  padding: var(--size-960);
}

.p-970 {
  padding: var(--size-970);
}

.p-980 {
  padding: var(--size-980);
}

.p-990 {
  padding: var(--size-990);
}

.p-1000 {
  padding: var(--size-1000);
}
