.right-0 {
  right: var(--size-0);
}

.right-1 {
  right: var(--size-1);
}

.right-2 {
  right: var(--size-2);
}

.right-3 {
  right: var(--size-3);
}

.right-4 {
  right: var(--size-4);
}

.right-5 {
  right: var(--size-5);
}

.right-6 {
  right: var(--size-6);
}

.right-7 {
  right: var(--size-7);
}

.right-8 {
  right: var(--size-8);
}

.right-9 {
  right: var(--size-9);
}

.right-10 {
  right: var(--size-10);
}

.right-11 {
  right: var(--size-11);
}

.right-12 {
  right: var(--size-12);
}

.right-13 {
  right: var(--size-13);
}

.right-14 {
  right: var(--size-14);
}

.right-15 {
  right: var(--size-15);
}

.right-16 {
  right: var(--size-16);
}

.right-17 {
  right: var(--size-17);
}

.right-18 {
  right: var(--size-18);
}

.right-19 {
  right: var(--size-19);
}

.right-20 {
  right: var(--size-20);
}

.right-21 {
  right: var(--size-21);
}

.right-22 {
  right: var(--size-22);
}

.right-23 {
  right: var(--size-23);
}

.right-24 {
  right: var(--size-24);
}

.right-25 {
  right: var(--size-25);
}

.right-26 {
  right: var(--size-26);
}

.right-27 {
  right: var(--size-27);
}

.right-28 {
  right: var(--size-28);
}

.right-29 {
  right: var(--size-29);
}

.right-30 {
  right: var(--size-30);
}

.right-31 {
  right: var(--size-31);
}

.right-32 {
  right: var(--size-32);
}

.right-33 {
  right: var(--size-33);
}

.right-34 {
  right: var(--size-34);
}

.right-35 {
  right: var(--size-35);
}

.right-36 {
  right: var(--size-36);
}

.right-37 {
  right: var(--size-37);
}

.right-38 {
  right: var(--size-38);
}

.right-39 {
  right: var(--size-39);
}

.right-40 {
  right: var(--size-40);
}

.right-41 {
  right: var(--size-41);
}

.right-42 {
  right: var(--size-42);
}

.right-43 {
  right: var(--size-43);
}

.right-44 {
  right: var(--size-44);
}

.right-45 {
  right: var(--size-45);
}

.right-46 {
  right: var(--size-46);
}

.right-47 {
  right: var(--size-47);
}

.right-48 {
  right: var(--size-48);
}

.right-49 {
  right: var(--size-49);
}

.right-50 {
  right: var(--size-50);
}

.right-52 {
  right: var(--size-52);
}

.right-54 {
  right: var(--size-54);
}

.right-56 {
  right: var(--size-56);
}

.right-58 {
  right: var(--size-58);
}

.right-60 {
  right: var(--size-60);
}

.right-62 {
  right: var(--size-62);
}

.right-64 {
  right: var(--size-64);
}

.right-66 {
  right: var(--size-66);
}

.right-68 {
  right: var(--size-68);
}

.right-70 {
  right: var(--size-70);
}

.right-72 {
  right: var(--size-72);
}

.right-74 {
  right: var(--size-74);
}

.right-76 {
  right: var(--size-76);
}

.right-78 {
  right: var(--size-78);
}

.right-80 {
  right: var(--size-80);
}

.right-82 {
  right: var(--size-82);
}

.right-84 {
  right: var(--size-84);
}

.right-86 {
  right: var(--size-86);
}

.right-88 {
  right: var(--size-88);
}

.right-90 {
  right: var(--size-90);
}

.right-92 {
  right: var(--size-92);
}

.right-94 {
  right: var(--size-94);
}

.right-96 {
  right: var(--size-96);
}

.right-98 {
  right: var(--size-98);
}

.right-100 {
  right: var(--size-100);
}

.right-102 {
  right: var(--size-102);
}

.right-104 {
  right: var(--size-104);
}

.right-106 {
  right: var(--size-106);
}

.right-108 {
  right: var(--size-108);
}

.right-110 {
  right: var(--size-110);
}

.right-112 {
  right: var(--size-112);
}

.right-114 {
  right: var(--size-114);
}

.right-116 {
  right: var(--size-116);
}

.right-118 {
  right: var(--size-118);
}

.right-120 {
  right: var(--size-120);
}

.right-122 {
  right: var(--size-122);
}

.right-124 {
  right: var(--size-124);
}

.right-126 {
  right: var(--size-126);
}

.right-128 {
  right: var(--size-128);
}

.right-130 {
  right: var(--size-130);
}

.right-132 {
  right: var(--size-132);
}

.right-134 {
  right: var(--size-134);
}

.right-136 {
  right: var(--size-136);
}

.right-138 {
  right: var(--size-138);
}

.right-140 {
  right: var(--size-140);
}

.right-142 {
  right: var(--size-142);
}

.right-144 {
  right: var(--size-144);
}

.right-146 {
  right: var(--size-146);
}

.right-148 {
  right: var(--size-148);
}

.right-150 {
  right: var(--size-150);
}

.right-160 {
  right: var(--size-160);
}

.right-170 {
  right: var(--size-170);
}

.right-180 {
  right: var(--size-180);
}

.right-190 {
  right: var(--size-190);
}

.right-200 {
  right: var(--size-200);
}

.right-210 {
  right: var(--size-210);
}

.right-220 {
  right: var(--size-220);
}

.right-230 {
  right: var(--size-230);
}

.right-240 {
  right: var(--size-240);
}

.right-250 {
  right: var(--size-250);
}

.right-260 {
  right: var(--size-260);
}

.right-270 {
  right: var(--size-270);
}

.right-280 {
  right: var(--size-280);
}

.right-290 {
  right: var(--size-290);
}

.right-300 {
  right: var(--size-300);
}

.right-310 {
  right: var(--size-310);
}

.right-320 {
  right: var(--size-320);
}

.right-330 {
  right: var(--size-330);
}

.right-340 {
  right: var(--size-340);
}

.right-350 {
  right: var(--size-350);
}

.right-360 {
  right: var(--size-360);
}

.right-370 {
  right: var(--size-370);
}

.right-380 {
  right: var(--size-380);
}

.right-390 {
  right: var(--size-390);
}

.right-400 {
  right: var(--size-400);
}

.right-410 {
  right: var(--size-410);
}

.right-420 {
  right: var(--size-420);
}

.right-430 {
  right: var(--size-430);
}

.right-440 {
  right: var(--size-440);
}

.right-450 {
  right: var(--size-450);
}

.right-460 {
  right: var(--size-460);
}

.right-470 {
  right: var(--size-470);
}

.right-480 {
  right: var(--size-480);
}

.right-490 {
  right: var(--size-490);
}

.right-500 {
  right: var(--size-500);
}

.right-510 {
  right: var(--size-510);
}

.right-520 {
  right: var(--size-520);
}

.right-530 {
  right: var(--size-530);
}

.right-540 {
  right: var(--size-540);
}

.right-550 {
  right: var(--size-550);
}

.right-560 {
  right: var(--size-560);
}

.right-570 {
  right: var(--size-570);
}

.right-580 {
  right: var(--size-580);
}

.right-590 {
  right: var(--size-590);
}

.right-600 {
  right: var(--size-600);
}

.right-610 {
  right: var(--size-610);
}

.right-620 {
  right: var(--size-620);
}

.right-630 {
  right: var(--size-630);
}

.right-640 {
  right: var(--size-640);
}

.right-650 {
  right: var(--size-650);
}

.right-660 {
  right: var(--size-660);
}

.right-670 {
  right: var(--size-670);
}

.right-680 {
  right: var(--size-680);
}

.right-690 {
  right: var(--size-690);
}

.right-700 {
  right: var(--size-700);
}

.right-710 {
  right: var(--size-710);
}

.right-720 {
  right: var(--size-720);
}

.right-730 {
  right: var(--size-730);
}

.right-740 {
  right: var(--size-740);
}

.right-750 {
  right: var(--size-750);
}

.right-760 {
  right: var(--size-760);
}

.right-770 {
  right: var(--size-770);
}

.right-780 {
  right: var(--size-780);
}

.right-790 {
  right: var(--size-790);
}

.right-800 {
  right: var(--size-800);
}

.right-810 {
  right: var(--size-810);
}

.right-820 {
  right: var(--size-820);
}

.right-830 {
  right: var(--size-830);
}

.right-840 {
  right: var(--size-840);
}

.right-850 {
  right: var(--size-850);
}

.right-860 {
  right: var(--size-710);
}

.right-870 {
  right: var(--size-870);
}

.right-880 {
  right: var(--size-880);
}

.right-890 {
  right: var(--size-890);
}

.right-900 {
  right: var(--size-900);
}

.right-910 {
  right: var(--size-910);
}

.right-920 {
  right: var(--size-920);
}

.right-930 {
  right: var(--size-930);
}

.right-940 {
  right: var(--size-940);
}

.right-950 {
  right: var(--size-950);
}

.right-960 {
  right: var(--size-960);
}

.right-970 {
  right: var(--size-970);
}

.right-980 {
  right: var(--size-980);
}

.right-990 {
  right: var(--size-990);
}

.right-1000 {
  right: var(--size-1000);
}
