.dv-right-0 {
  right: var(--size-0);
}

.dv-right-1 {
  right: var(--size-1);
}

.dv-right-2 {
  right: var(--size-2);
}

.dv-right-3 {
  right: var(--size-3);
}

.dv-right-4 {
  right: var(--size-4);
}

.dv-right-5 {
  right: var(--size-5);
}

.dv-right-6 {
  right: var(--size-6);
}

.dv-right-7 {
  right: var(--size-7);
}

.dv-right-8 {
  right: var(--size-8);
}

.dv-right-9 {
  right: var(--size-9);
}

.dv-right-10 {
  right: var(--size-10);
}

.dv-right-11 {
  right: var(--size-11);
}

.dv-right-12 {
  right: var(--size-12);
}

.dv-right-13 {
  right: var(--size-13);
}

.dv-right-14 {
  right: var(--size-14);
}

.dv-right-15 {
  right: var(--size-15);
}

.dv-right-16 {
  right: var(--size-16);
}

.dv-right-17 {
  right: var(--size-17);
}

.dv-right-18 {
  right: var(--size-18);
}

.dv-right-19 {
  right: var(--size-19);
}

.dv-right-20 {
  right: var(--size-20);
}

.dv-right-21 {
  right: var(--size-21);
}

.dv-right-22 {
  right: var(--size-22);
}

.dv-right-23 {
  right: var(--size-23);
}

.dv-right-24 {
  right: var(--size-24);
}

.dv-right-25 {
  right: var(--size-25);
}

.dv-right-26 {
  right: var(--size-26);
}

.dv-right-27 {
  right: var(--size-27);
}

.dv-right-28 {
  right: var(--size-28);
}

.dv-right-29 {
  right: var(--size-29);
}

.dv-right-30 {
  right: var(--size-30);
}

.dv-right-31 {
  right: var(--size-31);
}

.dv-right-32 {
  right: var(--size-32);
}

.dv-right-33 {
  right: var(--size-33);
}

.dv-right-34 {
  right: var(--size-34);
}

.dv-right-35 {
  right: var(--size-35);
}

.dv-right-36 {
  right: var(--size-36);
}

.dv-right-37 {
  right: var(--size-37);
}

.dv-right-38 {
  right: var(--size-38);
}

.dv-right-39 {
  right: var(--size-39);
}

.dv-right-40 {
  right: var(--size-40);
}

.dv-right-41 {
  right: var(--size-41);
}

.dv-right-42 {
  right: var(--size-42);
}

.dv-right-43 {
  right: var(--size-43);
}

.dv-right-44 {
  right: var(--size-44);
}

.dv-right-45 {
  right: var(--size-45);
}

.dv-right-46 {
  right: var(--size-46);
}

.dv-right-47 {
  right: var(--size-47);
}

.dv-right-48 {
  right: var(--size-48);
}

.dv-right-49 {
  right: var(--size-49);
}

.dv-right-50 {
  right: var(--size-50);
}

.dv-right-52 {
  right: var(--size-52);
}

.dv-right-54 {
  right: var(--size-54);
}

.dv-right-56 {
  right: var(--size-56);
}

.dv-right-58 {
  right: var(--size-58);
}

.dv-right-60 {
  right: var(--size-60);
}

.dv-right-62 {
  right: var(--size-62);
}

.dv-right-64 {
  right: var(--size-64);
}

.dv-right-66 {
  right: var(--size-66);
}

.dv-right-68 {
  right: var(--size-68);
}

.dv-right-70 {
  right: var(--size-70);
}

.dv-right-72 {
  right: var(--size-72);
}

.dv-right-74 {
  right: var(--size-74);
}

.dv-right-76 {
  right: var(--size-76);
}

.dv-right-78 {
  right: var(--size-78);
}

.dv-right-80 {
  right: var(--size-80);
}

.dv-right-82 {
  right: var(--size-82);
}

.dv-right-84 {
  right: var(--size-84);
}

.dv-right-86 {
  right: var(--size-86);
}

.dv-right-88 {
  right: var(--size-88);
}

.dv-right-90 {
  right: var(--size-90);
}

.dv-right-92 {
  right: var(--size-92);
}

.dv-right-94 {
  right: var(--size-94);
}

.dv-right-96 {
  right: var(--size-96);
}

.dv-right-98 {
  right: var(--size-98);
}

.dv-right-100 {
  right: var(--size-100);
}

.dv-right-102 {
  right: var(--size-102);
}

.dv-right-104 {
  right: var(--size-104);
}

.dv-right-106 {
  right: var(--size-106);
}

.dv-right-108 {
  right: var(--size-108);
}

.dv-right-110 {
  right: var(--size-110);
}

.dv-right-112 {
  right: var(--size-112);
}

.dv-right-114 {
  right: var(--size-114);
}

.dv-right-116 {
  right: var(--size-116);
}

.dv-right-118 {
  right: var(--size-118);
}

.dv-right-120 {
  right: var(--size-120);
}

.dv-right-122 {
  right: var(--size-122);
}

.dv-right-124 {
  right: var(--size-124);
}

.dv-right-126 {
  right: var(--size-126);
}

.dv-right-128 {
  right: var(--size-128);
}

.dv-right-130 {
  right: var(--size-130);
}

.dv-right-132 {
  right: var(--size-132);
}

.dv-right-134 {
  right: var(--size-134);
}

.dv-right-136 {
  right: var(--size-136);
}

.dv-right-138 {
  right: var(--size-138);
}

.dv-right-140 {
  right: var(--size-140);
}

.dv-right-142 {
  right: var(--size-142);
}

.dv-right-144 {
  right: var(--size-144);
}

.dv-right-146 {
  right: var(--size-146);
}

.dv-right-148 {
  right: var(--size-148);
}

.dv-right-150 {
  right: var(--size-150);
}

.dv-right-160 {
  right: var(--size-160);
}

.dv-right-170 {
  right: var(--size-170);
}

.dv-right-180 {
  right: var(--size-180);
}

.dv-right-190 {
  right: var(--size-190);
}

.dv-right-200 {
  right: var(--size-200);
}

.dv-right-210 {
  right: var(--size-210);
}

.dv-right-220 {
  right: var(--size-220);
}

.dv-right-230 {
  right: var(--size-230);
}

.dv-right-240 {
  right: var(--size-240);
}

.dv-right-250 {
  right: var(--size-250);
}

.dv-right-260 {
  right: var(--size-260);
}

.dv-right-270 {
  right: var(--size-270);
}

.dv-right-280 {
  right: var(--size-280);
}

.dv-right-290 {
  right: var(--size-290);
}

.dv-right-300 {
  right: var(--size-300);
}

.dv-right-310 {
  right: var(--size-310);
}

.dv-right-320 {
  right: var(--size-320);
}

.dv-right-330 {
  right: var(--size-330);
}

.dv-right-340 {
  right: var(--size-340);
}

.dv-right-350 {
  right: var(--size-350);
}

.dv-right-360 {
  right: var(--size-360);
}

.dv-right-370 {
  right: var(--size-370);
}

.dv-right-380 {
  right: var(--size-380);
}

.dv-right-390 {
  right: var(--size-390);
}

.dv-right-400 {
  right: var(--size-400);
}

.dv-right-410 {
  right: var(--size-410);
}

.dv-right-420 {
  right: var(--size-420);
}

.dv-right-430 {
  right: var(--size-430);
}

.dv-right-440 {
  right: var(--size-440);
}

.dv-right-450 {
  right: var(--size-450);
}

.dv-right-460 {
  right: var(--size-460);
}

.dv-right-470 {
  right: var(--size-470);
}

.dv-right-480 {
  right: var(--size-480);
}

.dv-right-490 {
  right: var(--size-490);
}

.dv-right-500 {
  right: var(--size-500);
}

.dv-right-510 {
  right: var(--size-510);
}

.dv-right-520 {
  right: var(--size-520);
}

.dv-right-530 {
  right: var(--size-530);
}

.dv-right-540 {
  right: var(--size-540);
}

.dv-right-550 {
  right: var(--size-550);
}

.dv-right-560 {
  right: var(--size-560);
}

.dv-right-570 {
  right: var(--size-570);
}

.dv-right-580 {
  right: var(--size-580);
}

.dv-right-590 {
  right: var(--size-590);
}

.dv-right-600 {
  right: var(--size-600);
}

.dv-right-610 {
  right: var(--size-610);
}

.dv-right-620 {
  right: var(--size-620);
}

.dv-right-630 {
  right: var(--size-630);
}

.dv-right-640 {
  right: var(--size-640);
}

.dv-right-650 {
  right: var(--size-650);
}

.dv-right-660 {
  right: var(--size-660);
}

.dv-right-670 {
  right: var(--size-670);
}

.dv-right-680 {
  right: var(--size-680);
}

.dv-right-690 {
  right: var(--size-690);
}

.dv-right-700 {
  right: var(--size-700);
}

.dv-right-710 {
  right: var(--size-710);
}

.dv-right-720 {
  right: var(--size-720);
}

.dv-right-730 {
  right: var(--size-730);
}

.dv-right-740 {
  right: var(--size-740);
}

.dv-right-750 {
  right: var(--size-750);
}

.dv-right-760 {
  right: var(--size-760);
}

.dv-right-770 {
  right: var(--size-770);
}

.dv-right-780 {
  right: var(--size-780);
}

.dv-right-790 {
  right: var(--size-790);
}

.dv-right-800 {
  right: var(--size-800);
}

.dv-right-810 {
  right: var(--size-810);
}

.dv-right-820 {
  right: var(--size-820);
}

.dv-right-830 {
  right: var(--size-830);
}

.dv-right-840 {
  right: var(--size-840);
}

.dv-right-850 {
  right: var(--size-850);
}

.dv-right-860 {
  right: var(--size-710);
}

.dv-right-870 {
  right: var(--size-870);
}

.dv-right-880 {
  right: var(--size-880);
}

.dv-right-890 {
  right: var(--size-890);
}

.dv-right-900 {
  right: var(--size-900);
}

.dv-right-910 {
  right: var(--size-910);
}

.dv-right-920 {
  right: var(--size-920);
}

.dv-right-930 {
  right: var(--size-930);
}

.dv-right-940 {
  right: var(--size-940);
}

.dv-right-950 {
  right: var(--size-950);
}

.dv-right-960 {
  right: var(--size-960);
}

.dv-right-970 {
  right: var(--size-970);
}

.dv-right-980 {
  right: var(--size-980);
}

.dv-right-990 {
  right: var(--size-990);
}

.dv-right-1000 {
  right: var(--size-1000);
}
