c-flex {
  display: flex;
}

c-flex.dv-justify-center {
  justify-content: center;
}

c-flex.dv-items-center {
  align-items: center;
}

c-flex.dv-column {
  flex-direction: column;
}

c-flex.dv-wrap {
  flex-wrap: wrap;
}

c-flex.dv-inline {
  display: inline-flex;
}

/* gap */
c-flex.dv-row-12 {
  row-gap: var(--size-12);
}

c-flex.dv-col-12 {
  column-gap: var(--size-12);
}
