.tx-thin {
  font-family: var(--thin) !important;
}

.tx-extralight {
  font-family: var(--extralight) !important;
}

.tx-light {
  font-family: var(--light) !important;
}

.tx-regular {
  font-family: var(--regular) !important;
}

.tx-medium {
  font-family: var(--medium) !important;
}

.tx-semibold {
  font-family: var(--semibold) !important;
}

.tx-bold {
  font-family: var(--bold) !important;
}

.tx-extrabold {
  font-family: var(--extrabold) !important;
}
