.thin {
  font-family: var(--thin) !important;
}

.extralight {
  font-family: var(--extralight) !important;
}

.light {
  font-family: var(--light) !important;
}

.regular {
  font-family: var(--regular) !important;
}

.medium {
  font-family: var(--medium) !important;
}

.semibold {
  font-family: var(--semibold) !important;
}

.bold {
  font-family: var(--bold) !important;
}

.extrabold {
  font-family: var(--extrabold) !important;
}
