@font-face {
  font-family: 'Sarabun-Bold';
  src: url('../assets/fonts/Sarabun-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Sarabun-ExtraBold';
  src: url('../assets/fonts/Sarabun-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Sarabun-ExtraLight';
  src: url(' ../assets/fonts/Sarabun-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Sarabun-Light';
  src: url('../assets/fonts/Sarabun-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Sarabun-Medium';
  src: url('../assets/fonts/Sarabun-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Sarabun-Regular';
  src: url('../assets/fonts/Sarabun-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Sarabun-SemiBold';
  src: url('../assets/fonts/Sarabun-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Sarabun-Thin';
  src: url('../assets/fonts/Sarabun-Thin.ttf') format('truetype');
}
