.ty-0 {
  font-size: var(--size-0);
}

.ty-1 {
  font-size: var(--size-1);
}

.ty-2 {
  font-size: var(--size-2);
}

.ty-3 {
  font-size: var(--size-3);
}

.ty-4 {
  font-size: var(--size-4);
}

.ty-5 {
  font-size: var(--size-5);
}

.ty-6 {
  font-size: var(--size-6);
}

.ty-7 {
  font-size: var(--size-7);
}

.ty-8 {
  font-size: var(--size-8);
}

.ty-9 {
  font-size: var(--size-9);
}

.ty-10 {
  font-size: var(--size-10);
}

.ty-11 {
  font-size: var(--size-11);
}

.ty-12 {
  font-size: var(--size-12);
}

.ty-13 {
  font-size: var(--size-13);
}

.ty-14 {
  font-size: var(--size-14);
}

.ty-15 {
  font-size: var(--size-15);
}

.ty-16 {
  font-size: var(--size-16);
}

.ty-17 {
  font-size: var(--size-17);
}

.ty-18 {
  font-size: var(--size-18);
}

.ty-19 {
  font-size: var(--size-19);
}

.ty-20 {
  font-size: var(--size-20);
}

.ty-21 {
  font-size: var(--size-21);
}

.ty-22 {
  font-size: var(--size-22);
}

.ty-23 {
  font-size: var(--size-23);
}

.ty-24 {
  font-size: var(--size-24);
}

.ty-25 {
  font-size: var(--size-25);
}

.ty-26 {
  font-size: var(--size-26);
}

.ty-27 {
  font-size: var(--size-27);
}

.ty-28 {
  font-size: var(--size-28);
}

.ty-29 {
  font-size: var(--size-29);
}

.ty-30 {
  font-size: var(--size-30);
}

.ty-31 {
  font-size: var(--size-31);
}

.ty-32 {
  font-size: var(--size-32);
}

.ty-33 {
  font-size: var(--size-33);
}

.ty-34 {
  font-size: var(--size-34);
}

.ty-35 {
  font-size: var(--size-35);
}

.ty-36 {
  font-size: var(--size-36);
}

.ty-37 {
  font-size: var(--size-37);
}

.ty-38 {
  font-size: var(--size-38);
}

.ty-39 {
  font-size: var(--size-39);
}

.ty-40 {
  font-size: var(--size-40);
}

.ty-41 {
  font-size: var(--size-41);
}

.ty-42 {
  font-size: var(--size-42);
}

.ty-43 {
  font-size: var(--size-43);
}

.ty-44 {
  font-size: var(--size-44);
}

.ty-45 {
  font-size: var(--size-45);
}

.ty-46 {
  font-size: var(--size-46);
}

.ty-47 {
  font-size: var(--size-47);
}

.ty-48 {
  font-size: var(--size-48);
}

.ty-49 {
  font-size: var(--size-49);
}

.ty-50 {
  font-size: var(--size-50);
}

.ty-52 {
  font-size: var(--size-52);
}

.ty-54 {
  font-size: var(--size-54);
}

.ty-56 {
  font-size: var(--size-56);
}

.ty-58 {
  font-size: var(--size-58);
}

.ty-60 {
  font-size: var(--size-60);
}

.ty-62 {
  font-size: var(--size-62);
}

.ty-64 {
  font-size: var(--size-64);
}

.ty-66 {
  font-size: var(--size-66);
}

.ty-68 {
  font-size: var(--size-68);
}

.ty-70 {
  font-size: var(--size-70);
}

.ty-72 {
  font-size: var(--size-72);
}

.ty-74 {
  font-size: var(--size-74);
}

.ty-76 {
  font-size: var(--size-76);
}

.ty-78 {
  font-size: var(--size-78);
}

.ty-80 {
  font-size: var(--size-80);
}

.ty-82 {
  font-size: var(--size-82);
}

.ty-84 {
  font-size: var(--size-84);
}

.ty-86 {
  font-size: var(--size-86);
}

.ty-88 {
  font-size: var(--size-88);
}

.ty-90 {
  font-size: var(--size-90);
}

.ty-92 {
  font-size: var(--size-92);
}

.ty-94 {
  font-size: var(--size-94);
}

.ty-96 {
  font-size: var(--size-96);
}

.ty-98 {
  font-size: var(--size-98);
}

.ty-100 {
  font-size: var(--size-100);
}

.ty-102 {
  font-size: var(--size-102);
}

.ty-104 {
  font-size: var(--size-104);
}

.ty-106 {
  font-size: var(--size-106);
}

.ty-108 {
  font-size: var(--size-108);
}

.ty-110 {
  font-size: var(--size-110);
}

.ty-112 {
  font-size: var(--size-112);
}

.ty-114 {
  font-size: var(--size-114);
}

.ty-116 {
  font-size: var(--size-116);
}

.ty-118 {
  font-size: var(--size-118);
}

.ty-120 {
  font-size: var(--size-120);
}

.ty-122 {
  font-size: var(--size-122);
}

.ty-124 {
  font-size: var(--size-124);
}

.ty-126 {
  font-size: var(--size-126);
}

.ty-128 {
  font-size: var(--size-128);
}

.ty-130 {
  font-size: var(--size-130);
}

.ty-132 {
  font-size: var(--size-132);
}

.ty-134 {
  font-size: var(--size-134);
}

.ty-136 {
  font-size: var(--size-136);
}

.ty-138 {
  font-size: var(--size-138);
}

.ty-140 {
  font-size: var(--size-140);
}

.ty-142 {
  font-size: var(--size-142);
}

.ty-144 {
  font-size: var(--size-144);
}

.ty-146 {
  font-size: var(--size-146);
}

.ty-148 {
  font-size: var(--size-148);
}

.ty-150 {
  font-size: var(--size-150);
}

.ty-160 {
  font-size: var(--size-160);
}

.ty-170 {
  font-size: var(--size-170);
}

.ty-180 {
  font-size: var(--size-180);
}

.ty-190 {
  font-size: var(--size-190);
}

.ty-200 {
  font-size: var(--size-200);
}

.ty-210 {
  font-size: var(--size-210);
}

.ty-220 {
  font-size: var(--size-220);
}

.ty-230 {
  font-size: var(--size-230);
}

.ty-240 {
  font-size: var(--size-240);
}

.ty-250 {
  font-size: var(--size-250);
}

.ty-260 {
  font-size: var(--size-260);
}

.ty-270 {
  font-size: var(--size-270);
}

.ty-280 {
  font-size: var(--size-280);
}

.ty-290 {
  font-size: var(--size-290);
}

.ty-300 {
  font-size: var(--size-300);
}

.ty-310 {
  font-size: var(--size-310);
}

.ty-320 {
  font-size: var(--size-320);
}

.ty-330 {
  font-size: var(--size-330);
}

.ty-340 {
  font-size: var(--size-340);
}

.ty-350 {
  font-size: var(--size-350);
}

.ty-360 {
  font-size: var(--size-360);
}

.ty-370 {
  font-size: var(--size-370);
}

.ty-380 {
  font-size: var(--size-380);
}

.ty-390 {
  font-size: var(--size-390);
}

.ty-400 {
  font-size: var(--size-400);
}

.ty-410 {
  font-size: var(--size-410);
}

.ty-420 {
  font-size: var(--size-420);
}

.ty-430 {
  font-size: var(--size-430);
}

.ty-440 {
  font-size: var(--size-440);
}

.ty-450 {
  font-size: var(--size-450);
}

.ty-460 {
  font-size: var(--size-460);
}

.ty-470 {
  font-size: var(--size-470);
}

.ty-480 {
  font-size: var(--size-480);
}

.ty-490 {
  font-size: var(--size-490);
}

.ty-500 {
  font-size: var(--size-500);
}

.ty-510 {
  font-size: var(--size-510);
}

.ty-520 {
  font-size: var(--size-520);
}

.ty-530 {
  font-size: var(--size-530);
}

.ty-540 {
  font-size: var(--size-540);
}

.ty-550 {
  font-size: var(--size-550);
}

.ty-560 {
  font-size: var(--size-560);
}

.ty-570 {
  font-size: var(--size-570);
}

.ty-580 {
  font-size: var(--size-580);
}

.ty-590 {
  font-size: var(--size-590);
}

.ty-600 {
  font-size: var(--size-600);
}

.ty-610 {
  font-size: var(--size-610);
}

.ty-620 {
  font-size: var(--size-620);
}

.ty-630 {
  font-size: var(--size-630);
}

.ty-640 {
  font-size: var(--size-640);
}

.ty-650 {
  font-size: var(--size-650);
}

.ty-660 {
  font-size: var(--size-660);
}

.ty-670 {
  font-size: var(--size-670);
}

.ty-680 {
  font-size: var(--size-680);
}

.ty-690 {
  font-size: var(--size-690);
}

.ty-700 {
  font-size: var(--size-700);
}

.ty-710 {
  font-size: var(--size-710);
}

.ty-720 {
  font-size: var(--size-720);
}

.ty-730 {
  font-size: var(--size-730);
}

.ty-740 {
  font-size: var(--size-740);
}

.ty-750 {
  font-size: var(--size-750);
}

.ty-760 {
  font-size: var(--size-760);
}

.ty-770 {
  font-size: var(--size-770);
}

.ty-780 {
  font-size: var(--size-780);
}

.ty-790 {
  font-size: var(--size-790);
}

.ty-800 {
  font-size: var(--size-800);
}

.ty-810 {
  font-size: var(--size-810);
}

.ty-820 {
  font-size: var(--size-820);
}

.ty-830 {
  font-size: var(--size-830);
}

.ty-840 {
  font-size: var(--size-840);
}

.ty-850 {
  font-size: var(--size-850);
}

.ty-860 {
  font-size: var(--size-710);
}

.ty-870 {
  font-size: var(--size-870);
}

.ty-880 {
  font-size: var(--size-880);
}

.ty-890 {
  font-size: var(--size-890);
}

.ty-900 {
  font-size: var(--size-900);
}

.ty-910 {
  font-size: var(--size-910);
}

.ty-920 {
  font-size: var(--size-920);
}

.ty-930 {
  font-size: var(--size-930);
}

.ty-940 {
  font-size: var(--size-940);
}

.ty-950 {
  font-size: var(--size-950);
}

.ty-960 {
  font-size: var(--size-960);
}

.ty-970 {
  font-size: var(--size-970);
}

.ty-980 {
  font-size: var(--size-980);
}

.ty-990 {
  font-size: var(--size-990);
}

.ty-1000 {
  font-size: var(--size-1000);
}
