.ty-thin {
  font-family: var(--thin) !important;
}

.ty-extralight {
  font-family: var(--extralight) !important;
}

.ty-light {
  font-family: var(--light) !important;
}

.ty-regular {
  font-family: var(--regular) !important;
}

.ty-medium {
  font-family: var(--medium) !important;
}

.ty-semibold {
  font-family: var(--semibold) !important;
}

.ty-bold {
  font-family: var(--bold) !important;
}

.ty-extrabold {
  font-family: var(--extrabold) !important;
}
