.fs-8 {
  font-size: var(--fs-8);
}

.fs-9 {
  font-size: var(--fs-9);
}

.fs-10 {
  font-size: var(--fs-10);
}

.fs-11 {
  font-size: var(--fs-11);
}

.fs-12 {
  font-size: var(--fs-12);
}

.fs-13 {
  font-size: var(--fs-13);
}

.fs-14 {
  font-size: var(--fs-14);
}

.fs-15 {
  font-size: var(--fs-15);
}

.fs-16 {
  font-size: var(--fs-16);
}

.fs-17 {
  font-size: var(--fs-17);
}

.fs-18 {
  font-size: var(--fs-18);
}

.fs-19 {
  font-size: var(--fs-19);
}

.fs-20 {
  font-size: var(--fs-20);
}

.fs-21 {
  font-size: var(--fs-21);
}

.fs-22 {
  font-size: var(--fs-22);
}

.fs-23 {
  font-size: var(--fs-23);
}

.fs-24 {
  font-size: var(--fs-24);
}

.fs-25 {
  font-size: var(--fs-25);
}

.fs-26 {
  font-size: var(--fs-26);
}

.fs-27 {
  font-size: var(--fs-27);
}

.fs-28 {
  font-size: var(--fs-28);
}

.fs-29 {
  font-size: var(--fs-29);
}

.fs-30 {
  font-size: var(--fs-30);
}

.fs-31 {
  font-size: var(--fs-31);
}

.fs-32 {
  font-size: var(--fs-32);
}

.fs-33 {
  font-size: var(--fs-33);
}

.fs-34 {
  font-size: var(--fs-34);
}

.fs-35 {
  font-size: var(--fs-35);
}

.fs-36 {
  font-size: var(--fs-36);
}

.fs-37 {
  font-size: var(--fs-37);
}

.fs-38 {
  font-size: var(--fs-38);
}

.fs-39 {
  font-size: var(--fs-39);
}

.fs-40 {
  font-size: var(--fs-40);
}

.fs-42 {
  font-size: var(--fs-42);
}

.fs-44 {
  font-size: var(--fs-44);
}

.fs-46 {
  font-size: var(--fs-46);
}

.fs-48 {
  font-size: var(--fs-48);
}

.fs-50 {
  font-size: var(--fs-50);
}

.fs-52 {
  font-size: var(--fs-52);
}

.fs-54 {
  font-size: var(--fs-54);
}

.fs-56 {
  font-size: var(--fs-56);
}

.fs-58 {
  font-size: var(--fs-58);
}

.fs-60 {
  font-size: var(--fs-60);
}

.fs-72 {
  font-size: var(--fs-72);
}

.fs-96 {
  font-size: var(--fs-96);
}

.fs-124 {
  font-size: var(--fs-124);
}
