.left-0 {
  left: var(--size-0);
}

.left-1 {
  left: var(--size-1);
}

.left-2 {
  left: var(--size-2);
}

.left-3 {
  left: var(--size-3);
}

.left-4 {
  left: var(--size-4);
}

.left-5 {
  left: var(--size-5);
}

.left-6 {
  left: var(--size-6);
}

.left-7 {
  left: var(--size-7);
}

.left-8 {
  left: var(--size-8);
}

.left-9 {
  left: var(--size-9);
}

.left-10 {
  left: var(--size-10);
}

.left-11 {
  left: var(--size-11);
}

.left-12 {
  left: var(--size-12);
}

.left-13 {
  left: var(--size-13);
}

.left-14 {
  left: var(--size-14);
}

.left-15 {
  left: var(--size-15);
}

.left-16 {
  left: var(--size-16);
}

.left-17 {
  left: var(--size-17);
}

.left-18 {
  left: var(--size-18);
}

.left-19 {
  left: var(--size-19);
}

.left-20 {
  left: var(--size-20);
}

.left-21 {
  left: var(--size-21);
}

.left-22 {
  left: var(--size-22);
}

.left-23 {
  left: var(--size-23);
}

.left-24 {
  left: var(--size-24);
}

.left-25 {
  left: var(--size-25);
}

.left-26 {
  left: var(--size-26);
}

.left-27 {
  left: var(--size-27);
}

.left-28 {
  left: var(--size-28);
}

.left-29 {
  left: var(--size-29);
}

.left-30 {
  left: var(--size-30);
}

.left-31 {
  left: var(--size-31);
}

.left-32 {
  left: var(--size-32);
}

.left-33 {
  left: var(--size-33);
}

.left-34 {
  left: var(--size-34);
}

.left-35 {
  left: var(--size-35);
}

.left-36 {
  left: var(--size-36);
}

.left-37 {
  left: var(--size-37);
}

.left-38 {
  left: var(--size-38);
}

.left-39 {
  left: var(--size-39);
}

.left-40 {
  left: var(--size-40);
}

.left-41 {
  left: var(--size-41);
}

.left-42 {
  left: var(--size-42);
}

.left-43 {
  left: var(--size-43);
}

.left-44 {
  left: var(--size-44);
}

.left-45 {
  left: var(--size-45);
}

.left-46 {
  left: var(--size-46);
}

.left-47 {
  left: var(--size-47);
}

.left-48 {
  left: var(--size-48);
}

.left-49 {
  left: var(--size-49);
}

.left-50 {
  left: var(--size-50);
}

.left-52 {
  left: var(--size-52);
}

.left-54 {
  left: var(--size-54);
}

.left-56 {
  left: var(--size-56);
}

.left-58 {
  left: var(--size-58);
}

.left-60 {
  left: var(--size-60);
}

.left-62 {
  left: var(--size-62);
}

.left-64 {
  left: var(--size-64);
}

.left-66 {
  left: var(--size-66);
}

.left-68 {
  left: var(--size-68);
}

.left-70 {
  left: var(--size-70);
}

.left-72 {
  left: var(--size-72);
}

.left-74 {
  left: var(--size-74);
}

.left-76 {
  left: var(--size-76);
}

.left-78 {
  left: var(--size-78);
}

.left-80 {
  left: var(--size-80);
}

.left-82 {
  left: var(--size-82);
}

.left-84 {
  left: var(--size-84);
}

.left-86 {
  left: var(--size-86);
}

.left-88 {
  left: var(--size-88);
}

.left-90 {
  left: var(--size-90);
}

.left-92 {
  left: var(--size-92);
}

.left-94 {
  left: var(--size-94);
}

.left-96 {
  left: var(--size-96);
}

.left-98 {
  left: var(--size-98);
}

.left-100 {
  left: var(--size-100);
}

.left-102 {
  left: var(--size-102);
}

.left-104 {
  left: var(--size-104);
}

.left-106 {
  left: var(--size-106);
}

.left-108 {
  left: var(--size-108);
}

.left-110 {
  left: var(--size-110);
}

.left-112 {
  left: var(--size-112);
}

.left-114 {
  left: var(--size-114);
}

.left-116 {
  left: var(--size-116);
}

.left-118 {
  left: var(--size-118);
}

.left-120 {
  left: var(--size-120);
}

.left-122 {
  left: var(--size-122);
}

.left-124 {
  left: var(--size-124);
}

.left-126 {
  left: var(--size-126);
}

.left-128 {
  left: var(--size-128);
}

.left-130 {
  left: var(--size-130);
}

.left-132 {
  left: var(--size-132);
}

.left-134 {
  left: var(--size-134);
}

.left-136 {
  left: var(--size-136);
}

.left-138 {
  left: var(--size-138);
}

.left-140 {
  left: var(--size-140);
}

.left-142 {
  left: var(--size-142);
}

.left-144 {
  left: var(--size-144);
}

.left-146 {
  left: var(--size-146);
}

.left-148 {
  left: var(--size-148);
}

.left-150 {
  left: var(--size-150);
}

.left-160 {
  left: var(--size-160);
}

.left-170 {
  left: var(--size-170);
}

.left-180 {
  left: var(--size-180);
}

.left-190 {
  left: var(--size-190);
}

.left-200 {
  left: var(--size-200);
}

.left-210 {
  left: var(--size-210);
}

.left-220 {
  left: var(--size-220);
}

.left-230 {
  left: var(--size-230);
}

.left-240 {
  left: var(--size-240);
}

.left-250 {
  left: var(--size-250);
}

.left-260 {
  left: var(--size-260);
}

.left-270 {
  left: var(--size-270);
}

.left-280 {
  left: var(--size-280);
}

.left-290 {
  left: var(--size-290);
}

.left-300 {
  left: var(--size-300);
}

.left-310 {
  left: var(--size-310);
}

.left-320 {
  left: var(--size-320);
}

.left-330 {
  left: var(--size-330);
}

.left-340 {
  left: var(--size-340);
}

.left-350 {
  left: var(--size-350);
}

.left-360 {
  left: var(--size-360);
}

.left-370 {
  left: var(--size-370);
}

.left-380 {
  left: var(--size-380);
}

.left-390 {
  left: var(--size-390);
}

.left-400 {
  left: var(--size-400);
}

.left-410 {
  left: var(--size-410);
}

.left-420 {
  left: var(--size-420);
}

.left-430 {
  left: var(--size-430);
}

.left-440 {
  left: var(--size-440);
}

.left-450 {
  left: var(--size-450);
}

.left-460 {
  left: var(--size-460);
}

.left-470 {
  left: var(--size-470);
}

.left-480 {
  left: var(--size-480);
}

.left-490 {
  left: var(--size-490);
}

.left-500 {
  left: var(--size-500);
}

.left-510 {
  left: var(--size-510);
}

.left-520 {
  left: var(--size-520);
}

.left-530 {
  left: var(--size-530);
}

.left-540 {
  left: var(--size-540);
}

.left-550 {
  left: var(--size-550);
}

.left-560 {
  left: var(--size-560);
}

.left-570 {
  left: var(--size-570);
}

.left-580 {
  left: var(--size-580);
}

.left-590 {
  left: var(--size-590);
}

.left-600 {
  left: var(--size-600);
}

.left-610 {
  left: var(--size-610);
}

.left-620 {
  left: var(--size-620);
}

.left-630 {
  left: var(--size-630);
}

.left-640 {
  left: var(--size-640);
}

.left-650 {
  left: var(--size-650);
}

.left-660 {
  left: var(--size-660);
}

.left-670 {
  left: var(--size-670);
}

.left-680 {
  left: var(--size-680);
}

.left-690 {
  left: var(--size-690);
}

.left-700 {
  left: var(--size-700);
}

.left-710 {
  left: var(--size-710);
}

.left-720 {
  left: var(--size-720);
}

.left-730 {
  left: var(--size-730);
}

.left-740 {
  left: var(--size-740);
}

.left-750 {
  left: var(--size-750);
}

.left-760 {
  left: var(--size-760);
}

.left-770 {
  left: var(--size-770);
}

.left-780 {
  left: var(--size-780);
}

.left-790 {
  left: var(--size-790);
}

.left-800 {
  left: var(--size-800);
}

.left-810 {
  left: var(--size-810);
}

.left-820 {
  left: var(--size-820);
}

.left-830 {
  left: var(--size-830);
}

.left-840 {
  left: var(--size-840);
}

.left-850 {
  left: var(--size-850);
}

.left-860 {
  left: var(--size-710);
}

.left-870 {
  left: var(--size-870);
}

.left-880 {
  left: var(--size-880);
}

.left-890 {
  left: var(--size-890);
}

.left-900 {
  left: var(--size-900);
}

.left-910 {
  left: var(--size-910);
}

.left-920 {
  left: var(--size-920);
}

.left-930 {
  left: var(--size-930);
}

.left-940 {
  left: var(--size-940);
}

.left-950 {
  left: var(--size-950);
}

.left-960 {
  left: var(--size-960);
}

.left-970 {
  left: var(--size-970);
}

.left-980 {
  left: var(--size-980);
}

.left-990 {
  left: var(--size-990);
}

.left-1000 {
  left: var(--size-1000);
}
