.m-0 {
  margin: var(--size-0);
}

.m-1 {
  margin: var(--size-1);
}

.m-2 {
  margin: var(--size-2);
}

.m-3 {
  margin: var(--size-3);
}

.m-4 {
  margin: var(--size-4);
}

.m-5 {
  margin: var(--size-5);
}

.m-6 {
  margin: var(--size-6);
}

.m-7 {
  margin: var(--size-7);
}

.m-8 {
  margin: var(--size-8);
}

.m-9 {
  margin: var(--size-9);
}

.m-10 {
  margin: var(--size-10);
}

.m-11 {
  margin: var(--size-11);
}

.m-12 {
  margin: var(--size-12);
}

.m-13 {
  margin: var(--size-13);
}

.m-14 {
  margin: var(--size-14);
}

.m-15 {
  margin: var(--size-15);
}

.m-16 {
  margin: var(--size-16);
}

.m-17 {
  margin: var(--size-17);
}

.m-18 {
  margin: var(--size-18);
}

.m-19 {
  margin: var(--size-19);
}

.m-20 {
  margin: var(--size-20);
}

.m-21 {
  margin: var(--size-21);
}

.m-22 {
  margin: var(--size-22);
}

.m-23 {
  margin: var(--size-23);
}

.m-24 {
  margin: var(--size-24);
}

.m-25 {
  margin: var(--size-25);
}

.m-26 {
  margin: var(--size-26);
}

.m-27 {
  margin: var(--size-27);
}

.m-28 {
  margin: var(--size-28);
}

.m-29 {
  margin: var(--size-29);
}

.m-30 {
  margin: var(--size-30);
}

.m-31 {
  margin: var(--size-31);
}

.m-32 {
  margin: var(--size-32);
}

.m-33 {
  margin: var(--size-33);
}

.m-34 {
  margin: var(--size-34);
}

.m-35 {
  margin: var(--size-35);
}

.m-36 {
  margin: var(--size-36);
}

.m-37 {
  margin: var(--size-37);
}

.m-38 {
  margin: var(--size-38);
}

.m-39 {
  margin: var(--size-39);
}

.m-40 {
  margin: var(--size-40);
}

.m-41 {
  margin: var(--size-41);
}

.m-42 {
  margin: var(--size-42);
}

.m-43 {
  margin: var(--size-43);
}

.m-44 {
  margin: var(--size-44);
}

.m-45 {
  margin: var(--size-45);
}

.m-46 {
  margin: var(--size-46);
}

.m-47 {
  margin: var(--size-47);
}

.m-48 {
  margin: var(--size-48);
}

.m-49 {
  margin: var(--size-49);
}

.m-50 {
  margin: var(--size-50);
}

.m-52 {
  margin: var(--size-52);
}

.m-54 {
  margin: var(--size-54);
}

.m-56 {
  margin: var(--size-56);
}

.m-58 {
  margin: var(--size-58);
}

.m-60 {
  margin: var(--size-60);
}

.m-62 {
  margin: var(--size-62);
}

.m-64 {
  margin: var(--size-64);
}

.m-66 {
  margin: var(--size-66);
}

.m-68 {
  margin: var(--size-68);
}

.m-70 {
  margin: var(--size-70);
}

.m-72 {
  margin: var(--size-72);
}

.m-74 {
  margin: var(--size-74);
}

.m-76 {
  margin: var(--size-76);
}

.m-78 {
  margin: var(--size-78);
}

.m-80 {
  margin: var(--size-80);
}

.m-82 {
  margin: var(--size-82);
}

.m-84 {
  margin: var(--size-84);
}

.m-86 {
  margin: var(--size-86);
}

.m-88 {
  margin: var(--size-88);
}

.m-90 {
  margin: var(--size-90);
}

.m-92 {
  margin: var(--size-92);
}

.m-94 {
  margin: var(--size-94);
}

.m-96 {
  margin: var(--size-96);
}

.m-98 {
  margin: var(--size-98);
}

.m-100 {
  margin: var(--size-100);
}

.m-102 {
  margin: var(--size-102);
}

.m-104 {
  margin: var(--size-104);
}

.m-106 {
  margin: var(--size-106);
}

.m-108 {
  margin: var(--size-108);
}

.m-110 {
  margin: var(--size-110);
}

.m-112 {
  margin: var(--size-112);
}

.m-114 {
  margin: var(--size-114);
}

.m-116 {
  margin: var(--size-116);
}

.m-118 {
  margin: var(--size-118);
}

.m-120 {
  margin: var(--size-120);
}

.m-122 {
  margin: var(--size-122);
}

.m-124 {
  margin: var(--size-124);
}

.m-126 {
  margin: var(--size-126);
}

.m-128 {
  margin: var(--size-128);
}

.m-130 {
  margin: var(--size-130);
}

.m-132 {
  margin: var(--size-132);
}

.m-134 {
  margin: var(--size-134);
}

.m-136 {
  margin: var(--size-136);
}

.m-138 {
  margin: var(--size-138);
}

.m-140 {
  margin: var(--size-140);
}

.m-142 {
  margin: var(--size-142);
}

.m-144 {
  margin: var(--size-144);
}

.m-146 {
  margin: var(--size-146);
}

.m-148 {
  margin: var(--size-148);
}

.m-150 {
  margin: var(--size-150);
}

.m-160 {
  margin: var(--size-160);
}

.m-170 {
  margin: var(--size-170);
}

.m-180 {
  margin: var(--size-180);
}

.m-190 {
  margin: var(--size-190);
}

.m-200 {
  margin: var(--size-200);
}

.m-210 {
  margin: var(--size-210);
}

.m-220 {
  margin: var(--size-220);
}

.m-230 {
  margin: var(--size-230);
}

.m-240 {
  margin: var(--size-240);
}

.m-250 {
  margin: var(--size-250);
}

.m-260 {
  margin: var(--size-260);
}

.m-270 {
  margin: var(--size-270);
}

.m-280 {
  margin: var(--size-280);
}

.m-290 {
  margin: var(--size-290);
}

.m-300 {
  margin: var(--size-300);
}

.m-310 {
  margin: var(--size-310);
}

.m-320 {
  margin: var(--size-320);
}

.m-330 {
  margin: var(--size-330);
}

.m-340 {
  margin: var(--size-340);
}

.m-350 {
  margin: var(--size-350);
}

.m-360 {
  margin: var(--size-360);
}

.m-370 {
  margin: var(--size-370);
}

.m-380 {
  margin: var(--size-380);
}

.m-390 {
  margin: var(--size-390);
}

.m-400 {
  margin: var(--size-400);
}

.m-410 {
  margin: var(--size-410);
}

.m-420 {
  margin: var(--size-420);
}

.m-430 {
  margin: var(--size-430);
}

.m-440 {
  margin: var(--size-440);
}

.m-450 {
  margin: var(--size-450);
}

.m-460 {
  margin: var(--size-460);
}

.m-470 {
  margin: var(--size-470);
}

.m-480 {
  margin: var(--size-480);
}

.m-490 {
  margin: var(--size-490);
}

.m-500 {
  margin: var(--size-500);
}

.m-510 {
  margin: var(--size-510);
}

.m-520 {
  margin: var(--size-520);
}

.m-530 {
  margin: var(--size-530);
}

.m-540 {
  margin: var(--size-540);
}

.m-550 {
  margin: var(--size-550);
}

.m-560 {
  margin: var(--size-560);
}

.m-570 {
  margin: var(--size-570);
}

.m-580 {
  margin: var(--size-580);
}

.m-590 {
  margin: var(--size-590);
}

.m-600 {
  margin: var(--size-600);
}

.m-610 {
  margin: var(--size-610);
}

.m-620 {
  margin: var(--size-620);
}

.m-630 {
  margin: var(--size-630);
}

.m-640 {
  margin: var(--size-640);
}

.m-650 {
  margin: var(--size-650);
}

.m-660 {
  margin: var(--size-660);
}

.m-670 {
  margin: var(--size-670);
}

.m-680 {
  margin: var(--size-680);
}

.m-690 {
  margin: var(--size-690);
}

.m-700 {
  margin: var(--size-700);
}

.m-710 {
  margin: var(--size-710);
}

.m-720 {
  margin: var(--size-720);
}

.m-730 {
  margin: var(--size-730);
}

.m-740 {
  margin: var(--size-740);
}

.m-750 {
  margin: var(--size-750);
}

.m-760 {
  margin: var(--size-760);
}

.m-770 {
  margin: var(--size-770);
}

.m-780 {
  margin: var(--size-780);
}

.m-790 {
  margin: var(--size-790);
}

.m-800 {
  margin: var(--size-800);
}

.m-810 {
  margin: var(--size-810);
}

.m-820 {
  margin: var(--size-820);
}

.m-830 {
  margin: var(--size-830);
}

.m-840 {
  margin: var(--size-840);
}

.m-850 {
  margin: var(--size-850);
}

.m-860 {
  margin: var(--size-710);
}

.m-870 {
  margin: var(--size-870);
}

.m-880 {
  margin: var(--size-880);
}

.m-890 {
  margin: var(--size-890);
}

.m-900 {
  margin: var(--size-900);
}

.m-910 {
  margin: var(--size-910);
}

.m-920 {
  margin: var(--size-920);
}

.m-930 {
  margin: var(--size-930);
}

.m-940 {
  margin: var(--size-940);
}

.m-950 {
  margin: var(--size-950);
}

.m-960 {
  margin: var(--size-960);
}

.m-970 {
  margin: var(--size-970);
}

.m-980 {
  margin: var(--size-980);
}

.m-990 {
  margin: var(--size-990);
}

.m-1000 {
  margin: var(--size-1000);
}
