.dv-m-0 {
  margin: var(--size-0);
}

.dv-m-1 {
  margin: var(--size-1);
}

.dv-m-2 {
  margin: var(--size-2);
}

.dv-m-3 {
  margin: var(--size-3);
}

.dv-m-4 {
  margin: var(--size-4);
}

.dv-m-5 {
  margin: var(--size-5);
}

.dv-m-6 {
  margin: var(--size-6);
}

.dv-m-7 {
  margin: var(--size-7);
}

.dv-m-8 {
  margin: var(--size-8);
}

.dv-m-9 {
  margin: var(--size-9);
}

.dv-m-10 {
  margin: var(--size-10);
}

.dv-m-11 {
  margin: var(--size-11);
}

.dv-m-12 {
  margin: var(--size-12);
}

.dv-m-13 {
  margin: var(--size-13);
}

.dv-m-14 {
  margin: var(--size-14);
}

.dv-m-15 {
  margin: var(--size-15);
}

.dv-m-16 {
  margin: var(--size-16);
}

.dv-m-17 {
  margin: var(--size-17);
}

.dv-m-18 {
  margin: var(--size-18);
}

.dv-m-19 {
  margin: var(--size-19);
}

.dv-m-20 {
  margin: var(--size-20);
}

.dv-m-21 {
  margin: var(--size-21);
}

.dv-m-22 {
  margin: var(--size-22);
}

.dv-m-23 {
  margin: var(--size-23);
}

.dv-m-24 {
  margin: var(--size-24);
}

.dv-m-25 {
  margin: var(--size-25);
}

.dv-m-26 {
  margin: var(--size-26);
}

.dv-m-27 {
  margin: var(--size-27);
}

.dv-m-28 {
  margin: var(--size-28);
}

.dv-m-29 {
  margin: var(--size-29);
}

.dv-m-30 {
  margin: var(--size-30);
}

.dv-m-31 {
  margin: var(--size-31);
}

.dv-m-32 {
  margin: var(--size-32);
}

.dv-m-33 {
  margin: var(--size-33);
}

.dv-m-34 {
  margin: var(--size-34);
}

.dv-m-35 {
  margin: var(--size-35);
}

.dv-m-36 {
  margin: var(--size-36);
}

.dv-m-37 {
  margin: var(--size-37);
}

.dv-m-38 {
  margin: var(--size-38);
}

.dv-m-39 {
  margin: var(--size-39);
}

.dv-m-40 {
  margin: var(--size-40);
}

.dv-m-41 {
  margin: var(--size-41);
}

.dv-m-42 {
  margin: var(--size-42);
}

.dv-m-43 {
  margin: var(--size-43);
}

.dv-m-44 {
  margin: var(--size-44);
}

.dv-m-45 {
  margin: var(--size-45);
}

.dv-m-46 {
  margin: var(--size-46);
}

.dv-m-47 {
  margin: var(--size-47);
}

.dv-m-48 {
  margin: var(--size-48);
}

.dv-m-49 {
  margin: var(--size-49);
}

.dv-m-50 {
  margin: var(--size-50);
}

.dv-m-52 {
  margin: var(--size-52);
}

.dv-m-54 {
  margin: var(--size-54);
}

.dv-m-56 {
  margin: var(--size-56);
}

.dv-m-58 {
  margin: var(--size-58);
}

.dv-m-60 {
  margin: var(--size-60);
}

.dv-m-62 {
  margin: var(--size-62);
}

.dv-m-64 {
  margin: var(--size-64);
}

.dv-m-66 {
  margin: var(--size-66);
}

.dv-m-68 {
  margin: var(--size-68);
}

.dv-m-70 {
  margin: var(--size-70);
}

.dv-m-72 {
  margin: var(--size-72);
}

.dv-m-74 {
  margin: var(--size-74);
}

.dv-m-76 {
  margin: var(--size-76);
}

.dv-m-78 {
  margin: var(--size-78);
}

.dv-m-80 {
  margin: var(--size-80);
}

.dv-m-82 {
  margin: var(--size-82);
}

.dv-m-84 {
  margin: var(--size-84);
}

.dv-m-86 {
  margin: var(--size-86);
}

.dv-m-88 {
  margin: var(--size-88);
}

.dv-m-90 {
  margin: var(--size-90);
}

.dv-m-92 {
  margin: var(--size-92);
}

.dv-m-94 {
  margin: var(--size-94);
}

.dv-m-96 {
  margin: var(--size-96);
}

.dv-m-98 {
  margin: var(--size-98);
}

.dv-m-100 {
  margin: var(--size-100);
}

.dv-m-102 {
  margin: var(--size-102);
}

.dv-m-104 {
  margin: var(--size-104);
}

.dv-m-106 {
  margin: var(--size-106);
}

.dv-m-108 {
  margin: var(--size-108);
}

.dv-m-110 {
  margin: var(--size-110);
}

.dv-m-112 {
  margin: var(--size-112);
}

.dv-m-114 {
  margin: var(--size-114);
}

.dv-m-116 {
  margin: var(--size-116);
}

.dv-m-118 {
  margin: var(--size-118);
}

.dv-m-120 {
  margin: var(--size-120);
}

.dv-m-122 {
  margin: var(--size-122);
}

.dv-m-124 {
  margin: var(--size-124);
}

.dv-m-126 {
  margin: var(--size-126);
}

.dv-m-128 {
  margin: var(--size-128);
}

.dv-m-130 {
  margin: var(--size-130);
}

.dv-m-132 {
  margin: var(--size-132);
}

.dv-m-134 {
  margin: var(--size-134);
}

.dv-m-136 {
  margin: var(--size-136);
}

.dv-m-138 {
  margin: var(--size-138);
}

.dv-m-140 {
  margin: var(--size-140);
}

.dv-m-142 {
  margin: var(--size-142);
}

.dv-m-144 {
  margin: var(--size-144);
}

.dv-m-146 {
  margin: var(--size-146);
}

.dv-m-148 {
  margin: var(--size-148);
}

.dv-m-150 {
  margin: var(--size-150);
}

.dv-m-160 {
  margin: var(--size-160);
}

.dv-m-170 {
  margin: var(--size-170);
}

.dv-m-180 {
  margin: var(--size-180);
}

.dv-m-190 {
  margin: var(--size-190);
}

.dv-m-200 {
  margin: var(--size-200);
}

.dv-m-210 {
  margin: var(--size-210);
}

.dv-m-220 {
  margin: var(--size-220);
}

.dv-m-230 {
  margin: var(--size-230);
}

.dv-m-240 {
  margin: var(--size-240);
}

.dv-m-250 {
  margin: var(--size-250);
}

.dv-m-260 {
  margin: var(--size-260);
}

.dv-m-270 {
  margin: var(--size-270);
}

.dv-m-280 {
  margin: var(--size-280);
}

.dv-m-290 {
  margin: var(--size-290);
}

.dv-m-300 {
  margin: var(--size-300);
}

.dv-m-310 {
  margin: var(--size-310);
}

.dv-m-320 {
  margin: var(--size-320);
}

.dv-m-330 {
  margin: var(--size-330);
}

.dv-m-340 {
  margin: var(--size-340);
}

.dv-m-350 {
  margin: var(--size-350);
}

.dv-m-360 {
  margin: var(--size-360);
}

.dv-m-370 {
  margin: var(--size-370);
}

.dv-m-380 {
  margin: var(--size-380);
}

.dv-m-390 {
  margin: var(--size-390);
}

.dv-m-400 {
  margin: var(--size-400);
}

.dv-m-410 {
  margin: var(--size-410);
}

.dv-m-420 {
  margin: var(--size-420);
}

.dv-m-430 {
  margin: var(--size-430);
}

.dv-m-440 {
  margin: var(--size-440);
}

.dv-m-450 {
  margin: var(--size-450);
}

.dv-m-460 {
  margin: var(--size-460);
}

.dv-m-470 {
  margin: var(--size-470);
}

.dv-m-480 {
  margin: var(--size-480);
}

.dv-m-490 {
  margin: var(--size-490);
}

.dv-m-500 {
  margin: var(--size-500);
}

.dv-m-510 {
  margin: var(--size-510);
}

.dv-m-520 {
  margin: var(--size-520);
}

.dv-m-530 {
  margin: var(--size-530);
}

.dv-m-540 {
  margin: var(--size-540);
}

.dv-m-550 {
  margin: var(--size-550);
}

.dv-m-560 {
  margin: var(--size-560);
}

.dv-m-570 {
  margin: var(--size-570);
}

.dv-m-580 {
  margin: var(--size-580);
}

.dv-m-590 {
  margin: var(--size-590);
}

.dv-m-600 {
  margin: var(--size-600);
}

.dv-m-610 {
  margin: var(--size-610);
}

.dv-m-620 {
  margin: var(--size-620);
}

.dv-m-630 {
  margin: var(--size-630);
}

.dv-m-640 {
  margin: var(--size-640);
}

.dv-m-650 {
  margin: var(--size-650);
}

.dv-m-660 {
  margin: var(--size-660);
}

.dv-m-670 {
  margin: var(--size-670);
}

.dv-m-680 {
  margin: var(--size-680);
}

.dv-m-690 {
  margin: var(--size-690);
}

.dv-m-700 {
  margin: var(--size-700);
}

.dv-m-710 {
  margin: var(--size-710);
}

.dv-m-720 {
  margin: var(--size-720);
}

.dv-m-730 {
  margin: var(--size-730);
}

.dv-m-740 {
  margin: var(--size-740);
}

.dv-m-750 {
  margin: var(--size-750);
}

.dv-m-760 {
  margin: var(--size-760);
}

.dv-m-770 {
  margin: var(--size-770);
}

.dv-m-780 {
  margin: var(--size-780);
}

.dv-m-790 {
  margin: var(--size-790);
}

.dv-m-800 {
  margin: var(--size-800);
}

.dv-m-810 {
  margin: var(--size-810);
}

.dv-m-820 {
  margin: var(--size-820);
}

.dv-m-830 {
  margin: var(--size-830);
}

.dv-m-840 {
  margin: var(--size-840);
}

.dv-m-850 {
  margin: var(--size-850);
}

.dv-m-860 {
  margin: var(--size-710);
}

.dv-m-870 {
  margin: var(--size-870);
}

.dv-m-880 {
  margin: var(--size-880);
}

.dv-m-890 {
  margin: var(--size-890);
}

.dv-m-900 {
  margin: var(--size-900);
}

.dv-m-910 {
  margin: var(--size-910);
}

.dv-m-920 {
  margin: var(--size-920);
}

.dv-m-930 {
  margin: var(--size-930);
}

.dv-m-940 {
  margin: var(--size-940);
}

.dv-m-950 {
  margin: var(--size-950);
}

.dv-m-960 {
  margin: var(--size-960);
}

.dv-m-970 {
  margin: var(--size-970);
}

.dv-m-980 {
  margin: var(--size-980);
}

.dv-m-990 {
  margin: var(--size-990);
}

.dv-m-1000 {
  margin: var(--size-1000);
}
