.size-6 {
  font-size: var(--size-6);
}

.size-7 {
  font-size: var(--size-7);
}

.size-8 {
  font-size: var(--size-8);
}

.size-9 {
  font-size: var(--size-9);
}

.size-10 {
  font-size: var(--size-10);
}

.size-11 {
  font-size: var(--size-11);
}

.size-12 {
  font-size: var(--size-12);
}

.size-13 {
  font-size: var(--size-13);
}

.size-14 {
  font-size: var(--size-14);
}

.size-15 {
  font-size: var(--size-15);
}

.size-16 {
  font-size: var(--size-16);
}

.size-17 {
  font-size: var(--size-17);
}

.size-18 {
  font-size: var(--size-18);
}

.size-19 {
  font-size: var(--size-19);
}

.size-20 {
  font-size: var(--size-20);
}

.size-21 {
  font-size: var(--size-21);
}

.size-22 {
  font-size: var(--size-22);
}

.size-23 {
  font-size: var(--size-23);
}

.size-24 {
  font-size: var(--size-24);
}

.size-25 {
  font-size: var(--size-25);
}

.size-26 {
  font-size: var(--size-26);
}

.size-27 {
  font-size: var(--size-27);
}

.size-28 {
  font-size: var(--size-28);
}

.size-29 {
  font-size: var(--size-29);
}

.size-30 {
  font-size: var(--size-30);
}

.size-31 {
  font-size: var(--size-31);
}

.size-32 {
  font-size: var(--size-32);
}

.size-33 {
  font-size: var(--size-33);
}

.size-34 {
  font-size: var(--size-34);
}

.size-35 {
  font-size: var(--size-35);
}

.size-36 {
  font-size: var(--size-36);
}

.size-37 {
  font-size: var(--size-37);
}

.size-38 {
  font-size: var(--size-38);
}

.size-39 {
  font-size: var(--size-39);
}

.size-40 {
  font-size: var(--size-40);
}

.size-42 {
  font-size: var(--size-42);
}

.size-44 {
  font-size: var(--size-44);
}

.size-46 {
  font-size: var(--size-46);
}

.size-48 {
  font-size: var(--size-48);
}

.size-50 {
  font-size: var(--size-50);
}

.size-52 {
  font-size: var(--size-52);
}

.size-54 {
  font-size: var(--size-54);
}

.size-56 {
  font-size: var(--size-56);
}

.size-58 {
  font-size: var(--size-58);
}

.size-60 {
  font-size: var(--size-60);
}

.size-72 {
  font-size: var(--size-72);
}

.size-96 {
  font-size: var(--size-96);
}

.size-124 {
  font-size: var(--size-124);
}
