/* base */

.txt-white {
  color: var(--white);
}

.txt-black {
  color: var(--black);
}

/* gray */
.txt-gray-25 {
  color: var(--gray-25);
}

.txt-gray-50 {
  color: var(--gray-50);
}

.txt-gray-100 {
  color: var(--gray-100);
}

.txt-gray-200 {
  color: var(--gray-200);
}

.txt-gray-300 {
  color: var(--gray-300);
}

.txt-gray-400 {
  color: var(--gray-400);
}

.txt-gray-500 {
  color: var(--gray-500);
}

.txt-gray-600 {
  color: var(--gray-600);
}

.txt-gray-700 {
  color: var(--gray-700);
}

.txt-gray-800 {
  color: var(--gray-800);
}

.txt-gray-900 {
  color: var(--gray-900);
}

/* primary */

.txt-primary-25 {
  color: var(--primary-25);
}

.txt-primary-50 {
  color: var(--primary-50);
}

.txt-primary-100 {
  color: var(--primary-100);
}

.txt-primary-200 {
  color: var(--primary-200);
}

.txt-primary-300 {
  color: var(--primary-300);
}

.txt-primary-400 {
  color: var(--primary-400);
}

.txt-primary-500 {
  color: var(--primary-500);
}

.txt-primary-600 {
  color: var(--primary-600);
}

.txt-primary-700 {
  color: var(--primary-700);
}

.txt-primary-800 {
  color: var(--primary-800);
}

.txt-primary-900 {
  color: var(--primary-900);
}

/* error */
.txt-error-25 {
  color: var(--error-25);
}

.txt-error-50 {
  color: var(--error-50);
}

.txt-error-100 {
  color: var(--error-100);
}

.txt-error-200 {
  color: var(--error-200);
}

.txt-error-300 {
  color: var(--error-300);
}

.txt-error-400 {
  color: var(--error-400);
}

.txt-error-500 {
  color: var(--error-500);
}

.txt-error-600 {
  color: var(--error-600);
}

.txt-error-700 {
  color: var(--error-700);
}

.txt-error-800 {
  color: var(--error-800);
}

.txt-error-900 {
  color: var(--error-900);
}

/* Warring */
.txt-warning-25 {
  color: var(--warning-25);
}

.txt-warning-50 {
  color: var(--warning-50);
}

.txt-warning-100 {
  color: var(--warning-100);
}

.txt-warning-200 {
  color: var(--warning-200);
}

.txt-warning-300 {
  color: var(--warning-300);
}

.txt-warning-400 {
  color: var(--warning-400);
}

.txt-warning-500 {
  color: var(--warning-500);
}

.txt-warning-600 {
  color: var(--warning-600);
}

.txt-warning-700 {
  color: var(--warning-700);
}

.txt-warning-800 {
  color: var(--warning-800);
}

.txt-warning-900 {
  color: var(--warning-900);
}

/* Success */
.txt-success-25 {
  color: var(--success-25);
}

.txt-success-50 {
  color: var(--success-50);
}

.txt-success-100 {
  color: var(--success-100);
}

.txt-success-200 {
  color: var(--success-200);
}

.txt-success-300 {
  color: var(--success-300);
}

.txt-success-400 {
  color: var(--success-400);
}

.txt-success-500 {
  color: var(--success-500);
}

.txt-success-600 {
  color: var(--success-600);
}

.txt-success-700 {
  color: var(--success-700);
}

.txt-success-800 {
  color: var(--success-800);
}

.txt-success-900 {
  color: var(--success-900);
}

/* Moderm Green */

.txt-modern-green-25 {
  color: var(--modern-green-25);
}

.txt-modern-green-50 {
  color: var(--modern-green-50);
}

.txt-modern-green-100 {
  color: var(--modern-green-100);
}

.txt-modern-green-200 {
  color: var(--modern-green-200);
}

.txt-modern-green-300 {
  color: var(--modern-green-300);
}

.txt-modern-green-400 {
  color: var(--modern-green-400);
}

.txt-modern-green-500 {
  color: var(--modern-green-500);
}

.txt-modern-green-600 {
  color: var(--modern-green-600);
}

.txt-modern-green-700 {
  color: var(--modern-green-700);
}

.txt-modern-green-800 {
  color: var(--modern-green-800);
}

.txt-modern-green-900 {
  color: var(--modern-green-900);
}

/* Surgeon Green */
.txt-surgeon-green-25 {
  color: var(--surgeon-green-25);
}

.txt-surgeon-green-50 {
  color: var(--surgeon-green-50);
}

.txt-surgeon-green-100 {
  color: var(--surgeon-green-100);
}

.txt-surgeon-green-200 {
  color: var(--surgeon-green-200);
}

.txt-surgeon-green-300 {
  color: var(--surgeon-green-300);
}

.txt-surgeon-green-400 {
  color: var(--surgeon-green-400);
}

.txt-surgeon-green-500 {
  color: var(--surgeon-green-500);
}

.txt-surgeon-green-600 {
  color: var(--surgeon-green-600);
}

.txt-surgeon-green-700 {
  color: var(--surgeon-green-700);
}

.txt-surgeon-green-800 {
  color: var(--surgeon-green-800);
}

.txt-surgeon-green-900 {
  color: var(--surgeon-green-900);
}

/* Wellness Green */
.txt-wellness-green-25 {
  color: var(--wellness-green-25);
}

.txt-wellness-green-50 {
  color: var(--wellness-green-50);
}

.txt-wellness-green-100 {
  color: var(--wellness-green-100);
}

.txt-wellness-green-200 {
  color: var(--wellness-green-200);
}

.txt-wellness-green-300 {
  color: var(--wellness-green-300);
}

.txt-wellness-green-400 {
  color: var(--wellness-green-400);
}

.txt-wellness-green-500 {
  color: var(--wellness-green-500);
}

.txt-wellness-green-600 {
  color: var(--wellness-green-600);
}

.txt-wellness-green-700 {
  color: var(--wellness-green-700);
}

.txt-wellness-green-800 {
  color: var(--wellness-green-800);
}

.txt-wellness-green-900 {
  color: var(--wellness-green-900);
}

/* Safe blue */

.txt-safe-blue-25 {
  color: var(--safe-blue-25);
}

.txt-safe-blue-50 {
  color: var(--safe-blue-50);
}

.txt-safe-blue-100 {
  color: var(--safe-blue-100);
}

.txt-safe-blue-200 {
  color: var(--safe-blue-200);
}

.txt-safe-blue-300 {
  color: var(--safe-blue-300);
}

.txt-safe-blue-400 {
  color: var(--safe-blue-400);
}

.txt-safe-blue-500 {
  color: var(--safe-blue-500);
}

.txt-safe-blue-600 {
  color: var(--safe-blue-600);
}

.txt-safe-blue-700 {
  color: var(--safe-blue-700);
}

.txt-safe-blue-800 {
  color: var(--safe-blue-800);
}

.txt-safe-blue-900 {
  color: var(--safe-blue-900);
}

/* Blueprint */

.txt-blueprint-25 {
  color: var(--blueprint-25);
}

.txt-blueprint-50 {
  color: var(--blueprint-50);
}

.txt-blueprint-100 {
  color: var(--blueprint-100);
}

.txt-blueprint-200 {
  color: var(--blueprint-200);
}

.txt-blueprint-300 {
  color: var(--blueprint-300);
}

.txt-blueprint-400 {
  color: var(--blueprint-400);
}

.txt-blueprint-500 {
  color: var(--blueprint-500);
}

.txt-blueprint-600 {
  color: var(--blueprint-600);
}

.txt-blueprint-700 {
  color: var(--blueprint-700);
}

.txt-blueprint-800 {
  color: var(--blueprint-800);
}

.txt-blueprint-900 {
  color: var(--blueprint-900);
}

/* Violet Alert */

.txt-violet-alert-25 {
  color: var(--violet-alert-25);
}

.txt-violet-alert-50 {
  color: var(--violet-alert-50);
}

.txt-violet-alert-100 {
  color: var(--violet-alert-100);
}

.txt-violet-alert-200 {
  color: var(--violet-alert-200);
}

.txt-violet-alert-300 {
  color: var(--violet-alert-300);
}

.txt-violet-alert-400 {
  color: var(--violet-alert-400);
}

.txt-violet-alert-500 {
  color: var(--violet-alert-500);
}

.txt-violet-alert-600 {
  color: var(--violet-alert-600);
}

.txt-violet-alert-700 {
  color: var(--violet-alert-700);
}

.txt-violet-alert-800 {
  color: var(--violet-alert-800);
}

.txt-violet-alert-900 {
  color: var(--violet-alert-900);
}

/* Purple */

.txt-purple-25 {
  color: var(--purple-25);
}

.txt-purple-50 {
  color: var(--purple-50);
}

.txt-purple-100 {
  color: var(--purple-100);
}

.txt-purple-200 {
  color: var(--purple-200);
}

.txt-purple-300 {
  color: var(--purple-300);
}

.txt-purple-400 {
  color: var(--purple-400);
}

.txt-purple-500 {
  color: var(--purple-500);
}

.txt-purple-600 {
  color: var(--purple-600);
}

.txt-purple-700 {
  color: var(--purple-700);
}

.txt-purple-800 {
  color: var(--purple-800);
}

.txt-purple-900 {
  color: var(--purple-900);
}

/* Pinky */

.txt-pinky-25 {
  color: var(--pinky-25);
}

.txt-pinky-50 {
  color: var(--pinky-50);
}

.txt-pinky-100 {
  color: var(--pinky-100);
}

.txt-pinky-200 {
  color: var(--pinky-200);
}

.txt-pinky-300 {
  color: var(--pinky-300);
}

.txt-pinky-400 {
  color: var(--pinky-400);
}

.txt-pinky-500 {
  color: var(--pinky-500);
}

.txt-pinky-600 {
  color: var(--pinky-600);
}

.txt-pinky-700 {
  color: var(--pinky-700);
}

.txt-pinky-800 {
  color: var(--pinky-800);
}

.txt-pinky-900 {
  color: var(--pinky-900);
}

/* Red Flag */

.txt-red-flag-25 {
  color: var(--red-flag-25);
}

.txt-red-flag-50 {
  color: var(--red-flag-50);
}

.txt-red-flag-100 {
  color: var(--red-flag-100);
}

.txt-red-flag-200 {
  color: var(--red-flag-200);
}

.txt-red-flag-300 {
  color: var(--red-flag-300);
}

.txt-red-flag-400 {
  color: var(--red-flag-400);
}

.txt-red-flag-500 {
  color: var(--red-flag-500);
}

.txt-red-flag-600 {
  color: var(--red-flag-600);
}

.txt-red-flag-700 {
  color: var(--red-flag-700);
}

.txt-red-flag-800 {
  color: var(--red-flag-800);
}

.txt-red-flag-900 {
  color: var(--red-flag-900);
}

/* Alarm Orange */

.txt-alarm-orange-25 {
  color: var(--alarm-orange-25);
}

.txt-alarm-orange-50 {
  color: var(--alarm-orange-50);
}

.txt-alarm-orange-100 {
  color: var(--alarm-orange-100);
}

.txt-alarm-orange-200 {
  color: var(--alarm-orange-200);
}

.txt-alarm-orange-300 {
  color: var(--alarm-orange-300);
}

.txt-alarm-orange-400 {
  color: var(--alarm-orange-400);
}

.txt-alarm-orange-500 {
  color: var(--alarm-orange-500);
}

.txt-alarm-orange-600 {
  color: var(--alarm-orange-600);
}

.txt-alarm-orange-700 {
  color: var(--alarm-orange-700);
}

.txt-alarm-orange-800 {
  color: var(--alarm-orange-800);
}

.txt-alarm-orange-900 {
  color: var(--alarm-orange-900);
}

/* Warning Yellow */

.txt-warning-yellow-25 {
  color: var(--warning-yellow-25);
}

.txt-warning-yellow-50 {
  color: var(--warning-yellow-50);
}

.txt-warning-yellow-100 {
  color: var(--warning-yellow-100);
}

.txt-warning-yellow-200 {
  color: var(--warning-yellow-200);
}

.txt-warning-yellow-300 {
  color: var(--warning-yellow-300);
}

.txt-warning-yellow-400 {
  color: var(--warning-yellow-400);
}

.txt-warning-yellow-500 {
  color: var(--warning-yellow-500);
}

.txt-warning-yellow-600 {
  color: var(--warning-yellow-600);
}

.txt-warning-yellow-700 {
  color: var(--warning-yellow-700);
}

.txt-warning-yellow-800 {
  color: var(--warning-yellow-800);
}

.txt-warning-yellow-900 {
  color: var(--warning-yellow-900);
}
