/* Base */

.ty-white {
  color: var(--white);
}

.ty-black {
  color: var(--black);
}

/* Gray */
.ty-gray-25 {
  color: var(--gray-25);
}

.ty-gray-50 {
  color: var(--gray-50);
}

.ty-gray-100 {
  color: var(--gray-100);
}

.ty-gray-200 {
  color: var(--gray-200);
}

.ty-gray-300 {
  color: var(--gray-300);
}

.ty-gray-400 {
  color: var(--gray-400);
}

.ty-gray-500 {
  color: var(--gray-500);
}

.ty-gray-600 {
  color: var(--gray-600);
}

.ty-gray-700 {
  color: var(--gray-700);
}

.ty-gray-800 {
  color: var(--gray-800);
}

.ty-gray-900 {
  color: var(--gray-900);
}

/* Primary */

.ty-primary-25 {
  color: var(--primary-25);
}

.ty-primary-50 {
  color: var(--primary-50);
}

.ty-primary-100 {
  color: var(--primary-100);
}

.ty-primary-200 {
  color: var(--primary-200);
}

.ty-primary-300 {
  color: var(--primary-300);
}

.ty-primary-400 {
  color: var(--primary-400);
}

.ty-primary-500 {
  color: var(--primary-500);
}

.ty-primary-600 {
  color: var(--primary-600);
}

.ty-primary-700 {
  color: var(--primary-700);
}

.ty-primary-800 {
  color: var(--primary-800);
}

.ty-primary-900 {
  color: var(--primary-900);
}

/* Error */
.ty-error-25 {
  color: var(--error-25);
}

.ty-error-50 {
  color: var(--error-50);
}

.ty-error-100 {
  color: var(--error-100);
}

.ty-error-200 {
  color: var(--error-200);
}

.ty-error-300 {
  color: var(--error-300);
}

.ty-error-400 {
  color: var(--error-400);
}

.ty-error-500 {
  color: var(--error-500);
}

.ty-error-600 {
  color: var(--error-600);
}

.ty-error-700 {
  color: var(--error-700);
}

.ty-error-800 {
  color: var(--error-800);
}

.ty-error-900 {
  color: var(--error-900);
}

/* Warring */
.ty-warning-25 {
  color: var(--warning-25);
}

.ty-warning-50 {
  color: var(--warning-50);
}

.ty-warning-100 {
  color: var(--warning-100);
}

.ty-warning-200 {
  color: var(--warning-200);
}

.ty-warning-300 {
  color: var(--warning-300);
}

.ty-warning-400 {
  color: var(--warning-400);
}

.ty-warning-500 {
  color: var(--warning-500);
}

.ty-warning-600 {
  color: var(--warning-600);
}

.ty-warning-700 {
  color: var(--warning-700);
}

.ty-warning-800 {
  color: var(--warning-800);
}

.ty-warning-900 {
  color: var(--warning-900);
}

/* Success */
.ty-success-25 {
  color: var(--success-25);
}

.ty-success-50 {
  color: var(--success-50);
}

.ty-success-100 {
  color: var(--success-100);
}

.ty-success-200 {
  color: var(--success-200);
}

.ty-success-300 {
  color: var(--success-300);
}

.ty-success-400 {
  color: var(--success-400);
}

.ty-success-500 {
  color: var(--success-500);
}

.ty-success-600 {
  color: var(--success-600);
}

.ty-success-700 {
  color: var(--success-700);
}

.ty-success-800 {
  color: var(--success-800);
}

.ty-success-900 {
  color: var(--success-900);
}

/* Moderm Green */

.ty-modern-green-25 {
  color: var(--modern-green-25);
}

.ty-modern-green-50 {
  color: var(--modern-green-50);
}

.ty-modern-green-100 {
  color: var(--modern-green-100);
}

.ty-modern-green-200 {
  color: var(--modern-green-200);
}

.ty-modern-green-300 {
  color: var(--modern-green-300);
}

.ty-modern-green-400 {
  color: var(--modern-green-400);
}

.ty-modern-green-500 {
  color: var(--modern-green-500);
}

.ty-modern-green-600 {
  color: var(--modern-green-600);
}

.ty-modern-green-700 {
  color: var(--modern-green-700);
}

.ty-modern-green-800 {
  color: var(--modern-green-800);
}

.ty-modern-green-900 {
  color: var(--modern-green-900);
}

/* Surgeon Green */
.ty-surgeon-green-25 {
  color: var(--surgeon-green-25);
}

.ty-surgeon-green-50 {
  color: var(--surgeon-green-50);
}

.ty-surgeon-green-100 {
  color: var(--surgeon-green-100);
}

.ty-surgeon-green-200 {
  color: var(--surgeon-green-200);
}

.ty-surgeon-green-300 {
  color: var(--surgeon-green-300);
}

.ty-surgeon-green-400 {
  color: var(--surgeon-green-400);
}

.ty-surgeon-green-500 {
  color: var(--surgeon-green-500);
}

.ty-surgeon-green-600 {
  color: var(--surgeon-green-600);
}

.ty-surgeon-green-700 {
  color: var(--surgeon-green-700);
}

.ty-surgeon-green-800 {
  color: var(--surgeon-green-800);
}

.ty-surgeon-green-900 {
  color: var(--surgeon-green-900);
}

/* Wellness Green */
.ty-wellness-green-25 {
  color: var(--wellness-green-25);
}

.ty-wellness-green-50 {
  color: var(--wellness-green-50);
}

.ty-wellness-green-100 {
  color: var(--wellness-green-100);
}

.ty-wellness-green-200 {
  color: var(--wellness-green-200);
}

.ty-wellness-green-300 {
  color: var(--wellness-green-300);
}

.ty-wellness-green-400 {
  color: var(--wellness-green-400);
}

.ty-wellness-green-500 {
  color: var(--wellness-green-500);
}

.ty-wellness-green-600 {
  color: var(--wellness-green-600);
}

.ty-wellness-green-700 {
  color: var(--wellness-green-700);
}

.ty-wellness-green-800 {
  color: var(--wellness-green-800);
}

.ty-wellness-green-900 {
  color: var(--wellness-green-900);
}

/* Safe blue */

.ty-safe-blue-25 {
  color: var(--safe-blue-25);
}

.ty-safe-blue-50 {
  color: var(--safe-blue-50);
}

.ty-safe-blue-100 {
  color: var(--safe-blue-100);
}

.ty-safe-blue-200 {
  color: var(--safe-blue-200);
}

.ty-safe-blue-300 {
  color: var(--safe-blue-300);
}

.ty-safe-blue-400 {
  color: var(--safe-blue-400);
}

.ty-safe-blue-500 {
  color: var(--safe-blue-500);
}

.ty-safe-blue-600 {
  color: var(--safe-blue-600);
}

.ty-safe-blue-700 {
  color: var(--safe-blue-700);
}

.ty-safe-blue-800 {
  color: var(--safe-blue-800);
}

.ty-safe-blue-900 {
  color: var(--safe-blue-900);
}

/* Blueprint */

.ty-blueprint-25 {
  color: var(--blueprint-25);
}

.ty-blueprint-50 {
  color: var(--blueprint-50);
}

.ty-blueprint-100 {
  color: var(--blueprint-100);
}

.ty-blueprint-200 {
  color: var(--blueprint-200);
}

.ty-blueprint-300 {
  color: var(--blueprint-300);
}

.ty-blueprint-400 {
  color: var(--blueprint-400);
}

.ty-blueprint-500 {
  color: var(--blueprint-500);
}

.ty-blueprint-600 {
  color: var(--blueprint-600);
}

.ty-blueprint-700 {
  color: var(--blueprint-700);
}

.ty-blueprint-800 {
  color: var(--blueprint-800);
}

.ty-blueprint-900 {
  color: var(--blueprint-900);
}

/* Violet Alert */

.ty-violet-alert-25 {
  color: var(--violet-alert-25);
}

.ty-violet-alert-50 {
  color: var(--violet-alert-50);
}

.ty-violet-alert-100 {
  color: var(--violet-alert-100);
}

.ty-violet-alert-200 {
  color: var(--violet-alert-200);
}

.ty-violet-alert-300 {
  color: var(--violet-alert-300);
}

.ty-violet-alert-400 {
  color: var(--violet-alert-400);
}

.ty-violet-alert-500 {
  color: var(--violet-alert-500);
}

.ty-violet-alert-600 {
  color: var(--violet-alert-600);
}

.ty-violet-alert-700 {
  color: var(--violet-alert-700);
}

.ty-violet-alert-800 {
  color: var(--violet-alert-800);
}

.ty-violet-alert-900 {
  color: var(--violet-alert-900);
}

/* Purple */

.ty-purple-25 {
  color: var(--purple-25);
}

.ty-purple-50 {
  color: var(--purple-50);
}

.ty-purple-100 {
  color: var(--purple-100);
}

.ty-purple-200 {
  color: var(--purple-200);
}

.ty-purple-300 {
  color: var(--purple-300);
}

.ty-purple-400 {
  color: var(--purple-400);
}

.ty-purple-500 {
  color: var(--purple-500);
}

.ty-purple-600 {
  color: var(--purple-600);
}

.ty-purple-700 {
  color: var(--purple-700);
}

.ty-purple-800 {
  color: var(--purple-800);
}

.ty-purple-900 {
  color: var(--purple-900);
}

/* Pinky */

.ty-pinky-25 {
  color: var(--pinky-25);
}

.ty-pinky-50 {
  color: var(--pinky-50);
}

.ty-pinky-100 {
  color: var(--pinky-100);
}

.ty-pinky-200 {
  color: var(--pinky-200);
}

.ty-pinky-300 {
  color: var(--pinky-300);
}

.ty-pinky-400 {
  color: var(--pinky-400);
}

.ty-pinky-500 {
  color: var(--pinky-500);
}

.ty-pinky-600 {
  color: var(--pinky-600);
}

.ty-pinky-700 {
  color: var(--pinky-700);
}

.ty-pinky-800 {
  color: var(--pinky-800);
}

.ty-pinky-900 {
  color: var(--pinky-900);
}

/* Red Flag */

.ty-red-flag-25 {
  color: var(--red-flag-25);
}

.ty-red-flag-50 {
  color: var(--red-flag-50);
}

.ty-red-flag-100 {
  color: var(--red-flag-100);
}

.ty-red-flag-200 {
  color: var(--red-flag-200);
}

.ty-red-flag-300 {
  color: var(--red-flag-300);
}

.ty-red-flag-400 {
  color: var(--red-flag-400);
}

.ty-red-flag-500 {
  color: var(--red-flag-500);
}

.ty-red-flag-600 {
  color: var(--red-flag-600);
}

.ty-red-flag-700 {
  color: var(--red-flag-700);
}

.ty-red-flag-800 {
  color: var(--red-flag-800);
}

.ty-red-flag-900 {
  color: var(--red-flag-900);
}

/* Alarm Orange */

.ty-alarm-orange-25 {
  color: var(--alarm-orange-25);
}

.ty-alarm-orange-50 {
  color: var(--alarm-orange-50);
}

.ty-alarm-orange-100 {
  color: var(--alarm-orange-100);
}

.ty-alarm-orange-200 {
  color: var(--alarm-orange-200);
}

.ty-alarm-orange-300 {
  color: var(--alarm-orange-300);
}

.ty-alarm-orange-400 {
  color: var(--alarm-orange-400);
}

.ty-alarm-orange-500 {
  color: var(--alarm-orange-500);
}

.ty-alarm-orange-600 {
  color: var(--alarm-orange-600);
}

.ty-alarm-orange-700 {
  color: var(--alarm-orange-700);
}

.ty-alarm-orange-800 {
  color: var(--alarm-orange-800);
}

.ty-alarm-orange-900 {
  color: var(--alarm-orange-900);
}

/* Warning Yellow */

.ty-warning-yellow-25 {
  color: var(--warning-yellow-25);
}

.ty-warning-yellow-50 {
  color: var(--warning-yellow-50);
}

.ty-warning-yellow-100 {
  color: var(--warning-yellow-100);
}

.ty-warning-yellow-200 {
  color: var(--warning-yellow-200);
}

.ty-warning-yellow-300 {
  color: var(--warning-yellow-300);
}

.ty-warning-yellow-400 {
  color: var(--warning-yellow-400);
}

.ty-warning-yellow-500 {
  color: var(--warning-yellow-500);
}

.ty-warning-yellow-600 {
  color: var(--warning-yellow-600);
}

.ty-warning-yellow-700 {
  color: var(--warning-yellow-700);
}

.ty-warning-yellow-800 {
  color: var(--warning-yellow-800);
}

.ty-warning-yellow-900 {
  color: var(--warning-yellow-900);
}
